.about {
  &__nav {
    display: flex;
    overflow: hidden;
    margin-top: -100px;
    margin-bottom: 60px;
    border-radius: 2px;
    box-shadow: 0px 4px 30px rgba(12, 15, 68, .15);

    flex-wrap: wrap;
    align-items: stretch;

    @media (max-width: 991.98px) {
      margin-bottom: 40px;
    }

    @media (max-width: 575.98px) {
      margin: 0 -10px;
      margin-top: 0;
      margin-bottom: 40px;
    }

    &-li {
      width: 33.33333%;
      border-right: 1px solid #ebebf2;
      border-bottom: 1px solid #ebebf2;

      @media (max-width: 575.98px) {
        width: 100%;
        border-right: none;
        border-bottom: 1px solid #ebebf2;
      }

      &:nth-child(3n + 3) {
        border-right: 0;
      }
      &:nth-child(n + 4) {
        border-bottom: 0;
        @media (max-width: 575.98px) {
          border-bottom: 1px solid #ebebf2;
        }
      }
    }

    &-link {
      font-size: 18px;
      font-weight: normal;
      line-height: 21px;
      display: flex;
      padding: 20px 40px;
      text-decoration: none;
      color: #0c0f44;
      background: #ffffff;
      align-items: center;
      height: 100%;

      @media (max-width: 991.98px) {
        font-size: 16px;
        line-height: 19px;
        padding: 20px;

        flex-flow: column;
      }

      @media (max-width: 575.98px) {
        position: relative;
        padding: 10px;
        padding-right: 35px;

        flex-flow: row;

        &:after {
          position: absolute;
          top: 50%;
          right: 20px;
          width: 8px;
          height: 13px;
          content: "";
          transform: translate(0, -50%);
          background: url("../img/icons/drop-down-arrow-right.svg");
          background-repeat: no-repeat;
          background-size: contain;
        }
      }

      &:hover {
        text-decoration: none;
        color: #ffffff;
        background: #0063a3;
      }
    }

    &-icon {
      width: 60px;
      height: 60px;
      margin-right: 30px;

      flex-shrink: 0;

      @media (max-width: 991.98px) {
        width: 48px;
        height: 48px;
        margin-right: 0;
        margin-bottom: 10px;
      }

      @media (max-width: 575.98px) {
        margin-right: 10px;
        margin-bottom: 0;
      }

      img {
        width: 100%;
        height: 100%;
      }
    }

    &-text {
    	@media (max-width: 991.98px) {
    		text-align: center;
			}
			@media (max-width: 575.98px) {
				text-align: left;
			}
      @media (max-width: 991.98px) {
        margin-bottom: 6px;
      }
      @media (max-width: 575.98px) {
        margin-bottom: 0;
      }
    }
  }

  &__title {
    font-size: 26px;
    font-weight: normal;
    line-height: 34px;
    width: 100%;
    max-width: 580px;
    margin: 0 auto 25px;
    text-align: center;
    text-align: center;
    color: #0c0f44;

    @media (max-width: 991.98px) {
      font-size: 18px;
      line-height: 21px;
    }

    @media (max-width: 575.98px) {
      margin-bottom: 15px;
    }

    b {
      font-weight: 600;
    }

    &--medium {
      font-weight: 500;
      max-width: 1000px;
      margin-bottom: 55px;

      @media (max-width: 991.98px) {
        margin-bottom: 35px;
      }
    }
  }

  &__desc {
    font-size: 18px;
    font-weight: normal;
    line-height: 24px;
    width: 100%;
    max-width: 800px;
    margin: 0 auto 30px;
    margin-bottom: 15px;
    text-align: center;
    color: #0c0f44;

    @media (max-width: 575.98px) {
      font-size: 14px;
      line-height: 20px;
    }
  }

  &__gallery-wrap-col {
    @media (max-width: 767.98px) {
      display: flex;

      justify-content: center;
    }

    @media (max-width: 575.98px) {
      display: block;

      justify-content: flex-start;
    }
  }

  &__gallery {
    margin-bottom: 30px;

    &-pic {
      &-wrap {
        position: relative;
        overflow: hidden;
        width: 100%;
        margin-bottom: 30px;
        padding-top: 57.9%;

        @media (max-width: 575.98px) {
          margin-bottom: 0;
        }

        img {
          font-family: "object-fit: cover;", serif;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          padding: 0;
          border: 0;
          border-radius: 2px;

          object-fit: cover;
        }
      }
    }
  }

  &__event {
    margin-bottom: 30px;

    &-head {
      position: relative;
      z-index: 10;
      padding-bottom: 15px;

      @media (max-width: 575.98px) {
      }

      .filters-dropdown .btn.section-title {
        font-size: 16px;
        line-height: 30px;
      }

      .dropdown-menu.show {
        left: 50% !important;
        transform: translate3d(-50%, 31px, 0) !important;
      }

      .filters-dropdown a {
        margin-right: 0;
        text-align: center;

        justify-content: center;
      }

      .fiters {
        a {
          text-align: center;
        }
      }
    }
    .card {
      &__title {
        .title-dot {
          color: #45a00b;

          &::before {
            background: #45a00b;
          }
        }
      }
    }

    .row-slider-nav {
      display: block;

      @media (max-width: 575.98px) {
        display: none;
      }
    }

    .row-slider-nav .carousel-control-prev,
    .row-slider-nav .carousel-control-next {
      position: absolute;
      top: 50%;
    }

    .row-slider-nav .carousel-control-prev {
      z-index: 5;
      left: -10px;
      transform: translate(-100%, -100%);

      @media (max-width: 1320px) {
        left: 40px;
      }

      @media (max-width: 1199.98px) {
        left: 17px;
      }
      @media (max-width: 767.98px) {
        left: 22px;
      }
    }
    .row-slider-nav .carousel-control-next {
      z-index: 5;
      right: -10px;
      transform: translate(100%, -100%);

      @media (max-width: 1320px) {
        right: 40px;
      }

      @media (max-width: 1199.98px) {
        right: 17px;
      }
      @media (max-width: 767.98px) {
        right: 22px;
      }
    }
  }

  &__team {
    position: relative;
    overflow: hidden;
    margin-bottom: 60px;
    padding-top: 46.69%;
    border-radius: 2px;
    background: #0c0f44;
    background-image: url("../img/images/about-team-pic.jpg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 100%;

    @media (max-width: 1199.98px) {
      padding-top: 52.23%;
    }

    @media (max-width: 991.98px) {
      margin-bottom: 40px;
      background-image: url("../img/images/about-team-pic-2.jpg");
    }

    @media (max-width: 575.98px) {
      padding-top: 0;
      background: none;
    }

    .about__title {
      font-weight: normal;
      position: absolute;
      top: 60px;
      left: 50%;
      transform: translateX(-50%);

      @media (max-width: 991.98px) {
        top: 40px;
      }

      @media (max-width: 575.98px) {
        position: relative;
        top: auto;
        left: auto;
        margin-bottom: 15px;
        transform: translate(0);
        color: #0c0f44 !important;
      }
    }

    &-desc {
      position: absolute;
      right: 40px;
      bottom: 40px;
      left: 40px;
      overflow: hidden;
      padding: 20px 40px;
      border-radius: 2px;
      background: transparent;

      @media (max-width: 1199.98px) {
        padding: 20px;
        padding-right: 60px;
      }

      @media (max-width: 991.98px) {
        right: 20px;
        bottom: 20px;
        left: 20px;
      }

      @media (max-width: 575.98px) {
        position: relative;
        top: auto;
        right: auto;
        bottom: auto;
        left: auto;
        padding: 20px 10px;
        border-radius: 2px;
        background: #0c0f44;
      }

      &::after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: "";
        background: rgba(12, 15, 68, .5);

        @media (max-width: 575.98px) {
          display: none;
        }
      }

      &-blur {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("../img/images/about-team-pic.jpg");
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: 100%;

        filter: blur(4px);

        @media (max-width: 991.98px) {
          background-image: url("../img/images/about-team-pic-2.jpg");
        }

        &-outer {
          position: absolute;
          bottom: -40px;
          left: 50%;
          width: calc(100% + 80px);
          transform: translateX(-50%);

          @media (max-width: 575.98px) {
            display: none;
          }
        }

        &-inner {
          width: 100%;
          padding-top: 46.69%;
        }
      }

      &-cont {
        position: relative;
        z-index: 2;
        display: flex;

        align-items: center;

        @media (max-width: 575.98px) {
          flex-flow: column;
        }
      }

      &-ico {
        width: 60px;
        min-width: 60px;
        height: 60px;

        @media (max-width: 575.98px) {
          margin-bottom: 10px;
        }

        img {
          width: 100%;
          height: 100%;
        }
      }

      &-text {
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
        padding-left: 40px;
        color: #ffffff;

        @media (max-width: 1199.98px) {
          font-size: 16px;
          line-height: 22px;
          padding-left: 20px;
        }

        @media (max-width: 991.98px) {
          font-size: 14px;
          line-height: 20px;
        }

        @media (max-width: 575.98px) {
          padding-left: 0;
          text-align: center;
        }
      }
    }
  }

  &__advantages {
    margin-bottom: 40px;

    &-item {
      display: flex;
      // margin-bottom: 20px;
      height: 100%;
      padding: 30px;
      border: 1px solid #e2e2ec;
      border-radius: 2px;

      align-items: flex-start;

      @media (max-width: 1199.98px) {
        flex-flow: column;
        align-items: center;
      }

      @media (max-width: 991.98px) {
        padding: 20px;
      }

      &-ico {
        position: relative;
        top: -10px;
        width: 60px;
        min-width: 60px;
        height: 60px;

        @media (max-width: 1199.98px) {
          top: auto;
          margin-bottom: 17px;
        }

        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
          box-shadow: 0px 4px 30px rgba(12, 15, 68, .15);
        }

        span {
          font-size: 10px;
          font-weight: 900;
          line-height: 12px;
          position: absolute;
          bottom: 0;
          left: 50%;
          display: flex;
          width: 17px;
          height: 17px;
          transform: translate(-50%, 50%);
          color: #ffffff;
          border-radius: 50%;
          background: #e96311;

          align-items: center;
          justify-content: center;
        }
      }

      &-cont {
        padding-left: 30px;

        @media (max-width: 1199.98px) {
          padding-left: 0;
        }
      }

      &-title {
        font-size: 18px;
        font-weight: bold;
        line-height: 21px;
        margin-bottom: 10px;
        color: #0c0f44;

        @media (max-width: 1199.98px) {
          text-align: center;
        }

        @media (max-width: 991.98px) {
          font-size: 16px;
          line-height: 19px;
        }
      }

      &-text {
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        color: #0c0f44;

        @media (max-width: 1199.98px) {
          text-align: center;
        }

        @media (max-width: 991.98px) {
          font-size: 14px;
          line-height: 20px;
        }
      }
    }
  }

  &__achievements {
    margin-bottom: 40px;

    .row-slider-nav {
      display: flex;

      @media (max-width: 767.98px) {
        display: none;
      }
    }

    .slick-dots {
      position: static;
      display: flex;
      width: 100%;

      align-items: center;

      li {
        width: initial;
        height: initial;
        margin: 0;

        flex: 1;
      }
    }

    .slick-slide {
      font-size: 0;
      overflow: hidden;
      border-radius: 2px;
    }

    .row-slider-nav {
      margin-left: 0;
      .carousel-control-next {
        margin-left: 0;
      }
    }

    &-slider {
      margin-bottom: 30px;

      .slick-list {
        margin-left: -20px;
      }

      .slick-slide {
        padding-left: 20px;
      }

      &-dots {
        width: calc(100% - 68px);
        padding: 0 20px;

        .slick-list {
          margin-left: -10px;
        }

        .slick-slide {
          padding-left: 10px;

          &.slick-current {
            img {
              border: 2px solid #e96311;
            }
          }
        }
      }

      &-item {
        position: relative;
        overflow: hidden;
        width: 100%;
        padding-top: 57.9%;

        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;

          object-fit: cover;
        }
      }
    }
  }
}

.page-head-about {
  position: relative;
  background-image: url("../img/images/about-hero-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;

  @media (max-width: 575.98px) {
    background-position: center 40%;
  }

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 155px;
    content: "";
    background: linear-gradient(180deg, rgba(12, 15, 68, .9) 0%, rgba(12, 15, 68, .50625) 42.19%, rgba(12, 15, 68, 0) 100%);

    @media (max-width: 575.98px) {
      height: 107px;
      background: linear-gradient(180deg, rgba(12, 15, 68, .9) 0%, rgba(12, 15, 68, .50625) 42.19%, rgba(12, 15, 68, 0) 100%);
    }
  }

  .container {
    position: relative;
    z-index: 1;
  }

  .page-title {
    margin-bottom: 0;
    padding-bottom: 285px;

    @media (max-width: 1199.98px) {
      padding-bottom: 230px;
    }

    @media (max-width: 991.98px) {
      padding-bottom: 213px;
    }

    @media (max-width: 575.98px) {
      padding-bottom: 50px;
    }
  }
}

.engineering-page {
  .about {
    &__nav {
      background-color: #ffffff;
    }
    &__advantages {
      background-color: #ffffff;
    }
    &__advantages-item {
      padding: 22px;
      text-align: center;
      border: none;

      flex-flow: column;
      align-items: center;
    }

    &__advantages-item-ico {
      top: 0;
      margin-bottom: 20px;
    }
    &__advantages-item-cont {
      max-width: 270px;
      padding-left: 0;
    }
    &__event {
      margin-bottom: 60px;

      @media (max-width: 991.98px) {
      	margin-bottom: 30px;
      }
    }
  }
}

.about-info {
  display: flex;
  border-radius: 2px;
  background: #ffffff;

  @media (max-width: 991.98px) {
    flex-flow: column;
  }

  &__media,
  &__content {
    width: 50%;
    min-height: 100%;
    padding: 10px;

    @media (max-width: 991.98px) {
      width: 100%;
      min-height: 0;
    }
  }

  &__media {
    max-width: 590px;

    @media (max-width: 991.98px) {
      margin: 0 auto;
    }

    .about-info-slider-wrap {
      height: 100%;
      margin-bottom: -6px;
    }

    .about-info-slider {
      height: 100%;
    }
    .slick-list, .slick-track {
      height: 100%;
    }
    .slick-slide > div {
      height: 100%;
    }
  }

  .img-wrap {
    width: 100%;
    height: 100%;
    min-height: 333px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;

    @media (max-width: 991.98px) {
      min-height: 0;
      padding-top: 58.4%;
    }
  }


  &__content {
    padding: 40px;
    padding-bottom: 10px;
  }
}

.about-info-item {
  padding-bottom: 25px;

  &__title {
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    margin-bottom: 15px;

    @media (max-width: 991.98px) {
			font-size: 16px;
			line-height: 19px;
		}
  }

  ul {
    li {
      margin-bottom: 8px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  li {
    .p-dot {
      font-size: 16px;
      line-height: 22px;

      @media (max-width: 991.98px) {
    		font-size: 14px;
    		line-height: 20px;
			}

      &:before {
        top: 10px;

        @media (max-width: 991.98px) {
	    		top: 7px;
				}
      }
    }
  }
}

.p-check {
  position: relative;
  padding-left: 20px;
  font-size: 16px;
  line-height: 22px;

  @media (max-width: 991.98px) {
		font-size: 14px;
		line-height: 20px;
	}

  &:before {
    position: absolute;
    top: 5px;
    left: 0;
    display: block;
    width: 14px;
    height: 14px;
    content: "";
    background: url("../img/icons/check-round-green.svg") no-repeat 50% / contain;

    @media (max-width: 991.98px) {
    	top: 3px;
    }
  }
}

.about-info-slider-wrap {
  position: relative;

  .slide {
    height: 100%;
  }

  .slick-next {
    right: 25px;
  }

  .slick-prev {
    left: 25px;
  }

  .slick-next, .slick-prev {
    width: 42px;
    height: 42px;

    &:before {
      width: 12px;
      height: 24px;
    }
  }

  .product-play-btn {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, 0);
  }
}

.about__sample-projects .row-slider-nav {
  display: flex;
  margin-top: 30px;
  margin-left: 0;
  padding: 0 50px;

  @media (max-width: 767.98px) {
    display: none;
  }
}

.about__sample-projects .slick-dots li {
  @media (max-width: 576.98px) {
    width: 20px;
  }
}

.sample-projects-statistic-wrap {
  display: flex;

  justify-content: space-between;

  @media (max-width: 1199.98px) {
    flex-flow: column;
  }

  @media (max-width: 991.98px) {
    flex-flow: row;
    max-width: 600px;
    margin: 0 auto;
  }

  @media (max-width: 575.98px) {
    flex-flow: column;
  }
}

.sample-projects-statistic {
  margin-bottom: 10px;

  @media (max-width: 1199.98px) {
    display: flex;
    align-items: center;
  }

  @media (max-width: 991.98px) {
    flex-flow: column;
    align-items: flex-start;
  }

  @media (max-width: 575.98px) {
    display: flex;
  }

  &__numeric {
    font-size: 28px;
    font-weight: bold;
    line-height: 26px;
    margin-bottom: 5px;

    @media (max-width: 1199.98px) {
      display: block;
      min-width: 80px;
    }
    @media (max-width: 991.98px) {
			font-size: 16px;
			line-height: 19px;
		}
  }

  &__desc {
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 5px;
  }
}

.design-issue {
  display: flex;
  min-height: 215px;
  margin-top: 60px;
  margin-bottom: 20px;
  padding: 40px;
  color: #ffffff;
  background: url("../img/icons/big-question.svg") no-repeat 33% 65% / 148px, url("../img/images/design-issue-bg.jpg") no-repeat 50% / cover;

  align-items: center;
  justify-content: space-between;

  @media (max-width: 1199.98px) {
    background: url("../img/images/design-issue-bg.jpg") no-repeat 50% / cover;
  }

  @media (max-width: 991.98px) {
    flex-flow: column;

  }

  &__title {
    font-size: 26px;
    font-weight: 500;
    line-height: 30px;
    color: #ffffff;

    @media (max-width: 991.98px) {
    	text-align: center;
    	br {
    		display: none;
    		text-align: center;
    		margin-bottom: 20px;
    	}
    }
    @media (max-width: 767.98px) {
    	font-size: 20px;
    	line-height: normal;
    	margin-bottom: 15px;
    }
  }

  .btn {
  	@media (max-width: 991.98px) {
  		margin-top: 20px;
  	}
  }
}

.design-issue-tel {
  font-size: 26px;
  font-weight: bold;
  line-height: 24px;
  display: flex;
  color: #ffffff;

  align-items: center;

  @media (max-width: 991.98px) {
  	margin: 25px 0;
  }

  @media (max-width: 767.98px) {
  	font-size: 24px;
  	line-height: normal;
  	margin: 15px 0;
  }

  

  &__ico {
    margin-right: 20px;

    @media (max-width: 576.98px) {
	  	display: none;
	  }
    img {
      width: 60px;
    }
  }

  &:hover {
    text-decoration: none;
    color: #ffffff;
  }
}

.sevice-block {
  position: relative;
  padding-bottom: 20px;

  .sevice-item {
    width: 100%;
    max-width: 380px;
    margin-bottom: 73px;

    @media (max-width: 991.98px) {
    	margin-bottom: 35px;
		}

		@media (max-width: 575.98px) {
			max-width: 100%;
		}

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.sevice-block-first-row {
  padding-top: 35px;
  background: url("../img/images/map.png") no-repeat 100% 50% / 707px;
	
	@media (max-width: 576.98px) {
  	padding-top: 0;  
	}
}

.sevice-block-second-row {
  margin-top: 50px;
  padding-top: 131px;
  padding-bottom: 130px;

  @media (max-width: 991.98px) {
  	padding-top: 0px;
  	margin-top: 0;
  	padding-bottom: 40px;
  }
}

.working-man-img {
  position: absolute;
  bottom: 0;
  left: 50%;
  max-width: 485px;
  width: 100%;
  transform: translateX(-50%);

  @media (max-width: 1199.98px) {
  	max-width: 300px;
  	left: auto;
  	right: 0;
  	transform: translateX(50%);
	}

	@media (max-width: 991.98px) {
  	transform: translateX(15%);
  }
  @media (max-width: 575.98px) {
		display: none;	
	}
}

.sevice-machine-img {
  position: absolute;
  top: 50%;
  left: -50px;
  max-width: 811px;
  width: 100%;
  transform: translateY(-50%);

  mix-blend-mode: darken;

  @media (max-width: 1199.98px) {
  	max-width: 600px;
  }

  @media (max-width: 991.98px) {
  	position: relative;
  	left: auto;
  	top: auto;  
  	transform: translateY(0%);
  	margin: 0 auto;
	}
}

.sevice-item {
  position: relative;
  z-index: 2;

  &__title {
    font-size: 30px;
    font-weight: bold;
    line-height: 30px;
    margin-bottom: 22px;

    @media (max-width: 991.98px) {
    	font-size: 18px;
    	line-height: 21px;
    	margin-bottom: 15px;

    	br {
    		display: none;
    	}
		}

    span:first-child {
      font-size: 20px;
      line-height: 28px;

      @media (max-width: 991.98px) {
	    	font-size: 18px;
	    	line-height: 28px;
	    	margin-bottom: 15px;
			}
    }
    span:nth-of-type(2) {
			@media (max-width: 991.98px) {
				text-transform: lowercase;
			}
    }
  }

  &__desc {
    font-size: 16px;
    line-height: 22px;
    color: #687685;

    @media (max-width: 991.98px) {
    	font-size: 14px;
			line-height: 20px;
		}
  }

  &.mw-100 {
    text-align: center;

    @media (max-width: 991.98px) {
			text-align: left;
			max-width: 380px !important;
		}

    .sevice-item__desc {
      max-width: 930px;
      margin: 0 auto;

      @media (max-width: 991.98px) {
      	margin: 0;
      }

      
    }
  }
}
