.article-info {
	display: flex;
	align-items: center;
	margin-bottom: 5px;

	@media (max-width: 991.98px) {
  	margin-bottom: 10px;  
	}

	.title-dot {
		margin-bottom: 0;
		margin-right: 20px;
		font-size: 16px;
		line-height: 19px;

		@media (max-width: 991.98px) {
			font-size: 11px;
			line-height: 13px;
		}

		&:before {
			@media (max-width: 991.98px) {
				top: 6px;
			}
		}
	}

	&__date {
		font-weight: 500;
		font-size: 16px;
		line-height: 19px;
		color: #687685;
		padding-left: 24px;
		min-height: 17px;
		position: relative;

		@media (max-width: 991.98px) {
			font-size: 13px;
			line-height: 15px;
			padding-left: 20px;
		}
		

		&:before {
			content: "";
			display: block;
			width: 20px;
			height: 20px;
			background-image: url("../img/icons/сalendar.svg");
			background-repeat: no-repeat;
			background-position: 0 50%;
			background-size: 17px;
			position: absolute;
			top: -2px;
			left: 0;

			@media (max-width: 991.98px) {
				background-size: 14px;
				top: -2px;
			}

		}
	}
}

.article {
	padding: 40px;
	background-color: #fff;
	border-radius: 2px;

	@media (max-width: 991.98px) {
		padding: 30px 22px;
	}

	@media (max-width: 767.98px) {
		padding: 30px 15px;	
	}

	@media (max-width: 575.98px) {
		padding: 30px 10px;	
	}

	&__main-desc {
		font-size: 20px;
		line-height: 26px;
		margin-bottom: 20px;

		@media (max-width: 991.98px) {
    	font-size: 16px;
			line-height: 22px;
		}
	}

	&__title-h4 {
		font-weight: 500;
		font-size: 22px;
		line-height: 26px;
		display: flex;
		align-items: center;
		margin-bottom: 20px;
		margin-top: 35px;

		@media (max-width: 991.98px) {
			margin-bottom: 15px;
			margin-top: 25px;
			font-size: 18px;
			line-height: 21px;
		}

		.title-num {
			margin-right: 10px;
		}
	}

	&__desc {
		font-size: 16px;
		line-height: 22px;
		margin-bottom: 15px;

		@media (max-width: 991.98px) {
			font-size: 14px;
			line-height: 20px;
		}

		b {
			font-weight: 500;
		}

		&--get-link{
			color: #E96311;
			
			a {
				color: #0C0F44;
				text-decoration: underline;
			}
		}
	}

	&__more-details {
		font-style: italic;
		font-weight: normal;
		font-size: 14px;
		line-height: 26px;
		color: #687685;
		margin: 20px 0;

		@media (max-width: 991.98px) {
			margin: 15px 0;
		}

		@media (max-width: 575.98px) {
			font-size: 14px;
			line-height: 16px;
			
		}

		@media (max-width: 440px) {
			margin: 0;
			margin-bottom: 10px;
		}

		a {
			font-style: italic;
			font-weight: normal;
			font-size: 14px;
			line-height: 26px;
			color: #687685;
			text-decoration: underline;

			@media (max-width: 575.98px) {
				font-size: 14px;
				line-height: 16px;
			}
		}

		b {
			font-weight: 500;
		}
	}

	&__hr {
		margin-top: 20px;
		margin-bottom: 40px;
	}

}

.article-mob-mb-10 {
	@media (max-width: 440px) {
		margin-bottom: 10px;
	}
}

.similar-mob-mb-10 {
	@media (max-width: 767.98px) {
		margin-bottom: 10px;
	}
}

.title-num {
	font-weight: 900;
	font-size: 13px;
	line-height: 23px;
	display: inline-flex;
	width: 23px;
	height: 23px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	background: #E96311;
	color: #FFFFFF;
	border-radius: 50%;
}

.article-img {
	border-radius: 2px;
	margin: 0 auto;
	width: 100%;
}


.video-wrap {
	width: 100%;

	border-radius: 2px;
	background: #fff;
	position: relative;
	overflow: hidden;

}

.video-bg {
	border-radius: 2px;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	padding-top: 52.4%;

}

.play {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 88px;
	height: 88px;
	border-radius: 50%;
	background: rgba(37, 48, 61, 0.25);
	

	&:after {
		content: "";
		display: block;
		width: 70%;
		height: 70%;
		position: absolute;
		top: 50%;
		left: 50%;
		border-radius: 50%;
		transform: translate(-50%, -50%);
		background-color: #E96311;
	
	}

	img {
		width: 22px;
		margin-left: 5px;
	}
}

.video-wrap .play {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 3;
}


.video-bg .play:hover {
	opacity: 0.85;
}

.video-bg img {
	display: block;
	position: relative;
	z-index: 1;
	max-width: 100%;
}

.video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	pointer-events: none;
	opacity: 0;
	border: none;


	&.visible {
		opacity: 1;
		pointer-events: auto;
	}

}

.card-adduce {
	margin-bottom: 20px;

	@media (max-width: 575.98px) {
		margin-bottom: 0;	
	}

	&__img {
		background-size: cover;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		height: 220px;
		margin-bottom: 10px;

	}
	&__desc {
		font-style: italic;
		font-size: 14px;
		line-height: 20px;
		color: #687685;
	}
}

.similar-block {
	padding: 40px;
	padding-right: 20px;
	padding-bottom: 0px;

	@media (max-width: 991.98px) {
  	padding-right: 15px;
  	padding-left: 15px;
	}

	@media (max-width: 575.98px) {
		padding: 20px 10px;	
		padding-bottom: 0;
	}

	&__title {
		font-weight: 500;
		font-size: 26px;
		line-height: 28px;
		margin-bottom: 30px;

		@media (max-width: 991.98px) {
			font-size: 20px;
		}

		@media (max-width: 575.98px) {
			margin-bottom: 10px;
		}
	}

	&.row {
		& > div {
			@media (max-width: 767.98px) {
				margin-bottom: 20px;	
			}
			@media (max-width: 575.98px) {
				margin-bottom: 0px;	
			}
		}
	}
}

.return-link {
	display: flex;
	align-items: center;
	font-weight: 500;
	font-size: 16px;
	line-height: 134.77%;
	color: #0063A3;
	margin-bottom: 40px;


	@media (max-width: 575.98px) {
		margin-bottom: 25px;
	}

	&__ico {
		margin-right: 10px;

		svg {
			width: 31px;
		}
	}

	&:hover {
		text-decoration: none;
		color: #E96311;
		
		.return-link__ico {
			svg {
				path {
					fill: #E96311;
				}
			}
		}

	}
}

.widget {
	background-color: #fff;
	padding: 30px 40px;
	margin-bottom: 20px;
	border-radius: 2px;

	&:last-child {
		margin-bottom: 0;
	}

	&__title {
		font-weight: 500;
		font-size: 22px;
		line-height: 28px;
		margin-bottom: 15px;
	}

	&__desc {
		font-size: 14px;
		line-height: 16px;
	}

	&__separate-line {
		margin-bottom: 20px;
	}
}

.widget-contact {

	&__desc {
		font-size: 14px;
		line-height: 18px;
		color: #687685;
		margin-bottom: 10px;
	}

	&__separate-line {
		margin: 20px 0;
	}
}

.widget-brand-img {
	max-width: 100%;
	margin: 0 auto;
}

.socials-links {
	display: flex;

	
	li {
		margin: 0 2px;
	}

	a {
		display: block;
		width: 24px;
		height: 24px;
		background-image: url("../img/icons/socials-links.png");
		background-repeat: no-repeat;
	}
}

.vk-link {
	background-position: -8px -8px;
}

.fb-link {
	background-position: -36px -8px;
}

.ok-link {
	background-position: -64px -8px;
}

.sm-link {
	background-position: -92px -8px;
}

.tw-link {
	background-position: -120px -8px;
}

.vb-link {
	background-position: -148px -8px;
}

.wp-link {
	background-position: -176px -8px;
}

.tg-link {
	background-position: -204px -8px;

}

.carrying {

	&__title {
		font-size: 13px;
		line-height: 15px;
		color: #687685;
	}

	&__desc {
		font-size: 14px;
		line-height: 16px;
	}

	&__date {
		padding-left: 20px;
		min-height: 15px;
		position: relative;
		

		&:before {
			content: "";
			display: block;
			width: 15px;
			height: 15px;
			position: absolute;
			top: 0;
			left: 0;
			background-image: url("../img/icons/calendar-small-cyan.svg");
			background-repeat: no-repeat;
			background-position: 0 0;
			background-size: 15px;
		}
	}

	&__locate {
		padding-left: 20px;
		min-height: 15px;
		position: relative;
		

		&:before {
			content: "";
			display: block;
			width: 15px;
			height: 15px;
			position: absolute;
			top: 0;
			left: 0;
			background-image: url("../img/icons/locate-small-cyan.svg");
			background-repeat: no-repeat;
			background-position: 0 0;
			background-size: 13px;
		}
	}

}

.visit-widget {
	background: #0063A3;
	color: #fff;

	.carrying {
		margin-bottom: 15px;
	}

	.carrying__title {
		color: #B2D0E3;
		font-weight: normal;
		
	}

	.carrying__desc {
		font-weight: 500;
		font-size: 18px;
		line-height: 21px;
	}

	.separate-line {
		background: rgba(255, 255, 255, 0.3);
	}

	.carrying__date {
		padding-left: 25px;

		&:before {
			background-image: url("../img/icons/calendar-small-white.svg");
			background-size: 18px;
			height: 20px;
			width: 20px;
		}
	}

	.carrying__locate {
   padding-left: 25px;

		&:before {
 			background-image: url("../img/icons/locate-small-white.svg");
			background-size: 18px;
			height: 23px;
			width: 20px;
		}
	}

	&__btn {
		margin-top: 25px;
		font-size: 15px;
	}
}


.carrying-form {

	&__btn {
		margin-top: 20px;
		width: 100%;
	}
}

.invitation-block {
	margin-top: 20px;
	background: #FFFFFF;
	border-radius: 2px;

	@media (max-width: 991.98px) {
  	padding: 30px 15px;  
	}

	@media (max-width: 575.98px) {
		padding: 30px 10px;	
	}

	.article__title-h4 {
		margin-top: 0;
	}

	.carrying {
		margin-right: 45px;

		@media (max-width: 575.98px) {
			margin-bottom: 15px;
		}

		&:last-child {
			margin-bottom: 0;
		}

		&__title {
			font-weight: normal;
		}

		&__desc {
			color: #E96311;
			font-weight: 500;
			font-size: 16px;

			span {
				color: #0C0F44;

			}
		}

		.carrying__date {
			padding-left: 25px;

			&:before {
				background-image: url("../img/icons/calendar-small-orange.svg");
				background-size: 18px;
				width: 20px;
				height: 20px;
				top: -2px;
				
			}
		}

		.carrying__locate {
	   padding-left: 25px;

			&:before {
				background-image: url("../img/icons/locate-small-orange.svg");
				background-size: 15px;
				width: 20px;
				height: 20px;
				top: -2px;
			}
		}
	}

	&__carrying-wrap {
		display: flex;
		align-items: center;
		margin-bottom: 25px;

		@media (max-width: 575.98px) {
			flex-flow: column;
			align-items: flex-start;
		}
	}

	.processing-data {
		padding: 0;

		@media (max-width: 575.98px) {
			padding: 15px;
		}
	}

	&__btn {
		width: 100%;
	}
}

.article-footer {
	&__contact-row {
		display: flex;
		align-items: center;

		@media (max-width: 440px) {
			flex-flow: column;
			align-items: flex-start;
		}

		a {
			margin-right: 20px;
		}
	}
}



.mob-col-12 {
	@media (max-width: 440px) {
		flex: 0 0 100%;
    max-width: 100%;
	}
}

.article-sliders-wrap {
	margin-bottom: 25px;

	@media (max-width: 767.98px) {
		margin-bottom: 50px;
	}


	.article-slider-main {
		img {
			display: block;
			max-width: 100%;
		}
	}
	.row-slider-nav {
		margin-left: 0;
		max-width: 640px;
		width: 100%;
		margin: 0 auto;
		margin-top: 20px;
		display: flex;

		@media (max-width: 767.98px) {
			display: none;
		}
 
	}
	.row-slider-nav {
    display: flex;

    @media (max-width: 767.98px) {
      display: none;
    }
  }
}

.article-slider-dots {
	width: 100%;
  padding: 0 20px;
  padding-top: 5px;

  .slick-slide {
    padding-left: 10px;
	}

  .slick-slide.slick-current img {
	  border: 2px solid #E96311;
	}

	.slide {
		width: 100%;
    position: relative;
    overflow: hidden;
    padding-top: 57.9%;

		img {
			position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    object-fit: cover;
		}	
	}
}


.article__separate {
	margin-bottom: 30px;
}

.product-accordion {
	margin-bottom: 40px;

	.card-img-wrap {
		display: flex;
		margin-top: 10px;

		@media (max-width: 575.98px) {
			display: none;
		}

		.img-wrap {
			width: 94px;
			height: 54px;
			margin-right: 10px;
			// padding-top: 57.9%;
			background-size: cover;
			background-position: 50% 50%;
			background-repeat: no-repeat;
			margin-bottom: 30px;

			@media (max-width: 991.98px) {
				margin-bottom: 20px;
			}
		}
	}
	.card-main-img {
		max-width: 100%;
	}
}


.product-accordion-bdt {
	
	.card {
		&:first-child {
			border-top: 1px solid #EBEBF2 !important;
		}
	}
}
