.small-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #0C0F44;
  margin-bottom: 10px;

  @media (max-width: 575.98px) {
    margin-bottom: 5px;
  }

}



.contacts-list {
  margin-bottom: 10px;

  &__item {
    width: 100%;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #0C0F44;
    padding: 14px 0 10px 0;
    border-top: 1px solid #EBEBF2;
    display: inline-flex;
    align-items: center;

    @media (max-width: 767.98px) {
      font-size: 14px;
      line-height: 20px;
    }

    & > a + * {
      margin: 0 0 0 7px;
    }

    &-ico {
      display: block;
      width: 24px;
      margin-right: 16px;
      &--medium {
        width: 29px;
      }

      img {
        width: 100%;
        height: auto;
      }
    }
  }
}

// ----------------------------------------

.location-address {
  padding: 30px;
  border-right: 1px solid  #EBEBF2;
  padding-right: 40px;

  @media (max-width: 1199.98px) {
    padding: 20px;  
  }

  @media (max-width: 575.98px) {
    border-right: none;
    border-bottom: 1px solid  #EBEBF2;
    padding: 20px 10px;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 13px;


    &:before {
      top: 10px !important;
      width: 6px !important;
      height: 6px !important;
    }
  }

  &__desc {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 13px;
    max-width: 410px;
  }

  &.depositary {

    .location-address__title {

      &:before {
        background-color: #0063A3;
      }
    }
  }
}

.drive-ico {
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("../img/images/map-for-ico.jpg") no-repeat 50% / contain;
  border-radius: 50%;

  img {
    width: 16px;
  }
}

.drive-link {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 16px;
  color: #0063A3;

  .drive-ico {
    margin-right: 10px;
  }

  span {
    border-bottom: 1px dashed #0063A3; 
    line-height: 19px;
  }

  &:hover {
    text-decoration: none;

    span {
      border-bottom: 1px solid #0063A3;
    }
  }
}

.print-link {
  img {
    width: 26px;
  }

  &:hover {
    opacity: 0.85;
  }
}

.locations-block {
  background-color: #fff;
  margin-bottom: 60px;

  @media (max-width: 991.98px) {
    margin-bottom: 40px;
  }

  @media (max-width: 575.98px) {
    margin: 0 -10px;
    margin-bottom: 40px;
  }

  .row {
    margin: 0;

    & > div {
      margin: 0;
      padding: 0;

      &:last-child {

        .location-address {
          border: none;
        }
          
      }
    }
  }
}

.map {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #EBEBF2;

  &-wrap {
    position: relative;
    width: 100%;
    height: 440px;
    overflow: hidden;
    margin-bottom: 40px;
    @media (max-width: 991.98px) {
      height: 280px;
    }

    @media (max-width: 767.98px) {
      margin-bottom: 30px;
    }
  }
}

.contact-block {
  margin-bottom: 60px;

  @media (max-width: 991.98px) {
    margin-bottom: 40px;
  }

  &__title {
    font-weight: normal;
    font-size: 26px;
    line-height: 28px;
    margin-bottom: 18px;
    text-align: center;

    @media (max-width: 991.98px) {
      font-size: 18px;
      line-height: 21px;
    }
  }

  &__head-tabs {
    margin-bottom: 20px;
  }

  &.mb-20 {
    margin-bottom: 20px;
  }
}

.contact-ico {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FFFFFF;
  border: 1px solid #EBEBF2;
  border-radius: 50%;
  flex-shrink: 0;

  @media (max-width: 991.98px) {
    width: 48px;
    height: 48px;
  }

  img {
    width: 32px;

    @media (max-width: 991.98px) {
      width: 26px;
    }
  }
}

.contact-item {
  background-color: #fff;
  padding: 20px 30px;
  display: flex;
  align-items: center;
  height: 100%;

  @media (max-width: 1199.98px) {
    padding: 20px;
  }

  @media (max-width: 991.98px) {
    flex-flow: column; 
  }

  @media (max-width: 575.98px) {
    margin-bottom: 10px;
    padding: 20px 10px;
    height: auto;  
    flex-flow: row;
  }

  .contact-ico {
    margin-right: 30px;

    @media (max-width: 1199.98px) {
      margin-right: 0;
      margin-bottom: 10px;
    }

    @media (max-width: 575.98px) {
      margin-bottom: 0;
      margin-right: 10px;
    }
  }

  &__desc {
    font-size: 16px;
    line-height: 22px;
    color: #0C0F44;

    @media (max-width: 991.98px) {
      font-size: 14px;
      line-height: 20px;
    }

    a {
      color: #0C0F44;

      &:hover {
        text-decoration: none;
        color: #0063A3;
      }
    }
  }

}

.requisite-info {
  background: #fff;
  padding: 20px;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 22px;

  @media (max-width: 991.98px) {
    font-size: 14px;
    line-height: 20px;
    padding: 20px 10px;
  }
}