.doc{
  &-desc {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    opacity: 0.8;
    margin-bottom: 30px;

    @media (max-width: 991.98px) {
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 20px;
    }
  }

  &__result {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #687685;
    margin-bottom: 16px;
  }

  &__accordion {
    .card {
      box-shadow: none;
      max-width: 100%;
      padding: 0;
      margin-bottom: 24px;

      &-header {
        @media (max-width: 575.98px) {
          padding: 14px 10px;
        }
        h2 > .btn {
          text-decoration: none;
          justify-content: flex-start;
          padding: 0;
          width: 100%;
          height: auto;
          font-weight: 400;
          font-size: 16px;
          line-height: 28px;
          color: #0C0F44;
          position: relative;

          @media (max-width: 575.98px) {
            text-align: left;
            padding-right: 20px;
          }

          &:hover {
            text-decoration: none;
          }

          &::before {
            content: '';
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            width: 12px;
            height: 7px;
            background-image: url('../img/icons/drop-down-arrow.svg');
            background-repeat: no-repeat;
            background-position: center center;
            background-size: contain;
            border: 0;
          }

          &[aria-expanded='true'] {
            &::before {
              transform: translateY(-50%) rotate(-180deg);
            }
          }
        }
      }

      &-header {
        background: #F3F3F9;
      }

      &-body {
        padding: 0 24px;
        background: #F3F3F9;
      }
    }

    &-list {
      li {
        a {
          display: flex;
          align-items: center;
          justify-content: space-between;
          position: relative;
          padding: 18px 0 13px 40px;
          border-top: 1px solid #EBEBF2;

          &:hover {
            text-decoration: none;

            svg {
              stroke: #0063A3;
            }
            span {
              color: #0063A3;

              &:last-child {
                color: #0063A3;
              }
            }
          }
          & > svg {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            width: 19px;
            height: 23px;
            stroke: #0C0F44;
          }
          & > span {
            font-weight: normal;
            font-size: 14px;
            line-height: 28px;
            color: #0C0F44;

            &:last-child {
              color: #687685;
            }
          }
        }
      }
    }
  }
}

.blanks {

  @media (max-width: 1199.98px) {
    background-color: #fff;
    margin-top: 40px;
    padding-top: 30px;
    border-top: 1px solid #EBEBF2;
  }

  @media (max-width: 575.98px) {
    margin-top: 30px;
    padding-top: 25px;
  }
  &__desc {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #0C0F44;
    margin-bottom: 28px;
    width: 100%;

    @media (max-width: 575.98px) {
      margin-bottom: 20px;
    }
  }

  &__ul {
    border: 0;
    border-top: 1px solid #EBEBF2;
    border-bottom: 1px solid #EBEBF2;
    margin-bottom: 20px;

    @media (max-width: 1199.98px) {
      display: flex;
    }

    @media (max-width: 575.98px) {
      flex-flow: column;
    }


    li {
      padding: 11px 0 11px 40px;
      border-bottom: 1px solid #EBEBF2;
      position: relative;

      @media (max-width: 1199.98px) {
        border-bottom: none;
        flex: 0 0 50%;
        max-width: 50%;
      }

      @media (max-width: 575.98px) {
        flex: 0 0 100%;
        max-width: 100%;
        border-bottom: 1px solid #EBEBF2;
      }

      &:last-child {
        border-bottom: 0;
      }

      & > a {
        text-decoration: none;
        svg {
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          width: 19px;
          height: 23px;
          stroke: #0C0F44;
        }
        span {
          font-weight: 400;
          font-size: 14px;
          line-height: 28px;
          color: #0C0F44;
        }

        &:hover {
          svg {
            stroke: #0063A3;
          }
          span {
            color: #0063A3;
          }
        }
      }
    }
  }

  &__info {
    width: 100%;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #0C0F44;
    margin-bottom: 15px;
    @media (max-width: 991.98px) {
      margin-bottom: 10px;
    }
  }

  &__link {
    font-weight: 700;
    font-size: 18px;
    line-height: 140.62%;
    color: #0C0F44;
  }
}

.form-filter-doc {
  .btn {
    width: 100%;
    margin-bottom: 20px;
  }
  .custom-select-one {
    &__option {
      height: 50px;
      font-weight: 500;
      font-size: 15px;
      line-height: 18px;
      padding-left: 20px;

      &:hover {
        background: none;
        color: #0063A3;

      }
      &:focus {
        background: #0063A3;
        color: #fff;
      }

      &--value {
        color: #687685;
        padding-left: 20px;
        &:hover {
          &::after {
            background-image: url('../img/icons/down-blue.svg');
          }
        }
        &:focus {
          &::after {
            background-image: url('../img/icons/down-white.svg');
          }
        }
        &::after {
          width: 10px;
          height: 6px;
          background-image: url('../img/icons/down-gray.svg');
          background-repeat: no-repeat;
          background-position: center center;
          background-size: contain;
          border: 0;

        }
      }
    }

    &--active {
      .custom-select-one__option--value {
        &:hover,
        &:focus {
          background: #0063A3;
          color: #fff;
        }
        &::after {
          background-image: url('../img/icons/down-white.svg');
        }
      }
    }

    &__dropdown {
      .custom-select-one__option:hover,
      .custom-select-one__option:focus  {
        background: #0063A3;
        color: #fff;
      }
    }
  }
}
