.card-equipment {
  display: block;
  height: 100%;
  border: 1px solid #ebebf2;
  border-radius: 2px;
  background: #ffffff;

  &:hover {
    text-decoration: none;
    box-shadow: 0px 4px 30px rgba(12, 15, 68, .15);
  }

  &__title {
    font-size: 16px;
    line-height: 19px;
    overflow: hidden;
    height: 95px;
    padding: 30px;
    padding-bottom: 15px;
  }

  &__img-wrap {
    padding-top: 66.55%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
  }

  &__img {
    width: 100%;
  }
}

.equipment-types-wrap {
  position: relative;
  z-index: 5;
  display: flex;
  margin-bottom: 20px;
  padding-right: 50px;

  flex-wrap: wrap;

  @media (max-width: 1199.98px) {
    padding-right: 0;
  }

  @media (max-width: 991.98px) {
    margin: 20px 0;

    justify-content: center;
  }
}

.equipment-type {
  position: relative;
  display: flex;
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer;

  align-items: center;
  justify-content: space-between;

  @media (max-width: 991.98px) {
    width: 100%;
    max-width: 300px;
    margin-right: 0;
    margin-bottom: 0;
  }

  &.active {
    .equipment-type__setting-ico {
      path {
        fill: #ffffff;
      }
    }
  }


  &__btn {
    position: relative;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
    height: 42px;
    padding-right: 10px;
    border-radius: 34px;
    background: #ffffff;

    justify-content: center;
    align-items: center;
  }

  &:hover {
    text-decoration: none;
  }


  &__title {
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
    padding-right: 10px;
    padding-left: 25px;
    color: #0c0f44;

    @media (max-width: 991.98px) {
      padding-left: 10px;
    }
  }

  &__setting-ico {
    display: block;
    width: 22px;

    @media (max-width: 991.98px) {
      margin-left: 5px;
    }
  }

  &__btn-right {
    position: relative;
    display: flex;
    display: none;
    width: 40px;
    height: 100%;

    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    &:before {
      position: absolute;
      top: 2px;
      left: 0;
      width: 1px;
      height: calc(100% - 4px);
      content: "";
      background: rgba(198, 198, 218, .5);
    }

    &:hover {
      .equipment-type__btn-right-ico {
        background-image: url("../img/icons/drop-down-arrow-orange-bold.svg");
      }
    }
  }

  &__btn-left {
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding-left: 10px;
    border-radius: 2px;

    align-items: center;

    &:hover {
      .checkbox-radio-for-btn {
        label {
          &:before {
            border-color: #e96311;
          }
        }
      }
    }
  }

  &__btn-right-ico {
    display: block;
    width: 10px;
    height: 6px;
    margin-right: 3px;
    background-image: url("../img/icons/drop-down-arrow-687685.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
  }

  &__dropdown {
    position: absolute;
    z-index: 2;
    top: 100%;
    left: 0;
    display: none;
    margin-top: 8px;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0px 4px 30px rgba(12, 15, 68, .15);
    background: #ffffff;

    &:after {
      position: absolute;
      top: -16px;
      left: 13px;
      display: block;
      content: "";
      border: 10px solid transparent;
      border-bottom: 8px solid #ffffff;
    }

    &.show {
      display: block;
    }

    .checkbox-radio {
      margin-bottom: 10px;
      padding-right: 20px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &.with-dropdown {
    .equipment-type__btn {
      padding-right: 0;
    }
    .equipment-type__btn-right {
      display: flex;
    }
  }

  &.active {
    .equipment-type__btn {
      border-color: #e96311;
      background: #e96311;
    }

    .equipment-type__btn-right {
      &:hover {
        background: #bd500d;
        .equipment-type__btn-right-ico {
          background-image: url("../img/icons/drop-down-arrow-hover-bold.svg");
        }
      }
    }

    .equipment-type__btn-left {
      border-color: #e96311;
      background: #e96311;
    }

    .equipment-type__title {
      color: #ffffff;
    }

    .equipment-type__btn-right-ico {
      background-image: url("../img/icons/drop-down-arrow-hover-bold.svg");
    }

    .equipment-type__dropdown {
      display: none;
    }

    &.active-right-btn {
      .equipment-type__btn-right-ico {
        background-image: url("../img/icons/drop-down-arrow-hover-bold.svg");
      }
    }
  }

  &.active-right-btn {
    .equipment-type__btn-right-ico {
      background-image: url("../img/icons/drop-down-arrow-orange-bold.svg");
    }

    .equipment-type__dropdown {
      display: block;
    }
  }

  &.has-select {
    .equipment-type__btn-right {
      background: #bd500d;

      .equipment-type__btn-right-ico {
        background-image: url("../img/icons/drop-down-arrow-hover-bold.svg");
      }
    }
  }
}

.checkbox-radio-for-btn {
  height: 100%;

  label {
    display: flex;
    height: 100%;
    padding-left: 30px;
    color: #0c0f44;

    align-items: center;
    justify-content: center;

    &:before {
      top: 11px;
      width: 19px;
      height: 19px;
      border: 2px solid #e2e2ec;
      border-radius: 50%;
      background-color: #ffffff;
    }

    &:after {
      top: 12px;
      left: 4px;
      width: 17px;
      height: 13px;
      content: "";
      background: url("../img/icons/btn-check-ico.svg") no-repeat 50% / contain;
    }
  }

  input[type=radio]:checked + label:before {
    border-color: #e96311;
    background: #e96311;
  }

  input[type=radio]:checked + label:after {
    display: block;
  }

  input[type=checkbox]:checked + label:before {
    border-color: #ffffff;
    background: #ffffff;
  }

  input[type=checkbox]:checked + label:after {
    display: block;
    border-radius: 0;
  }
}

.remove-all {
  font-size: 15px;
  font-weight: 500;
  display: flex;
  display: flex;
  display: none;
  height: 42px;
  padding: 0 20px;
  color: #ffffff;
  border-radius: 34px;
  background: #e96311;

  justify-content: center;
  align-items: center;
  align-items: center;

  &.visible {
    display: flex;
  }

  &:hover {
    text-decoration: none;
    opacity: .85;
    color: #ffffff;
  }
}



.poduct-info-title {
  font-size: 14px;
  line-height: 16px;
  margin-top: 8px;
  margin-bottom: 20px;
  color: #687685;
}

.card-product-info {
  display: block;
  box-sizing: border-box;
  height: 100%;
  padding: 20px;
  border: 1px solid #ebebf2;
  border-radius: 2px;
  background: #ffffff;

  &:hover {
    text-decoration: none;
    box-shadow: 0px 4px 30px rgba(12, 15, 68, .15);
  }

  &__head {
    display: flex;
    margin-bottom: 10px;

    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__img-wrap {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-height: 240px;
    margin-bottom: 17px;
    padding-top: 72.5%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
  }

  &__img {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 100%;
    min-height: 100%;
    margin: 0 auto;
    transform: translate(-50%, -50%);
  }

  .availability-info {
    margin-bottom: 7px;
  }

  &__vendor-code {
    font-size: 11px;
    line-height: 13px;
    margin-bottom: 7px;
    text-align: right;
    text-transform: uppercase;
    color: #687685;

    b {
      font-weight: 500;
    }
  }

  &__title {
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    margin-bottom: 0;
    text-transform: uppercase;
  }

  &__sub-title {
    font-size: 11px;
    font-weight: 500;
    line-height: 18px;
    text-transform: uppercase;
    color: #687685;

    @media (max-width: 575.98px) {
      margin-bottom: 0;
    }
  }

  &__desc {
    font-size: 13px;
    line-height: 18px;

    @media (max-width: 991.98px) {
      display: none;
    }
  }
}

.catalog-card-row {
  & > div {
    @media (max-width: 899.98px) {
      max-width: 50%;

      flex: 0 0 50%;
    }
    @media (max-width: 440px) {
      max-width: 100%;

      flex: 0 0 100%;
    }
  }
}

.availability-info {
  font-size: 11px;
  font-weight: bold;
  line-height: 13px;
  display: flex;
  text-transform: uppercase;
  color: #45a00b;

  align-items: center;

  &.under-order {
    color: #0063a3;

    .availability-info__ico {
      background-image: url("../img/icons/under-order-ico-cyan.svg");
    }
  }

  &__ico {
    display: block;
    width: 16px;
    height: 16px;
    margin-right: 5px;
    background-image: url("../img/icons/check-round-green.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
  }
}

.product-nav {
  margin-top: 10px;
}

.equipment-filter {
  position: fixed;
  z-index: 80;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  transition: transform .3s;
  transform: translate(-100%, 0);
  background: #ffffff;

  &.show {
    transform: translate(0,0);
  }

  &__head {
    position: relative;
    z-index: 5;
    display: flex;
    height: 60px;
    padding: 0 22px;
    box-shadow: 0px 2px 20px rgba(12, 15, 68, .1);
    background: #ffffff;

    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;

    @media (max-width: 575.98px) {
      padding: 0 10px;
    }
  }

  &__head-title {
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    margin-bottom: 0;
  }

  &__close {
    margin: 10px;


    img {
      width: 16px;
    }

    &:hover {
      opacity: .75;
    }
  }

  &__main {
    overflow: auto;
    height: calc(100% - 60px - 70px);

    @media (max-width: 575.98px) {
    }
  }

  &__main-cover {
    position: relative;
    height: 100%;
  }

  &__footer {
    position: relative;
    z-index: 2;
    display: flex;
    box-shadow: 0px 4px 30px rgba(12, 15, 68, .15);
    background: rgba(243, 243, 249, .9);

    align-items: center;
    justify-content: center;
    flex-shrink: 0;
  }

  &__btn {
    width: 185px;
    height: 50px;
    margin: 10px;

    @media (max-width: 575.98px) {
      margin: 10px 5px;
    }
  }

  &__discard-btn {
    color: #e96311;
    border-color: #ffffff;
    background: #ffffff;

    &:hover {
      color: #ffffff;
      border-color: #e96311;
      background: #e96311;
    }
  }
}

.equipment-choice {
  position: relative;
  list-style: none;

  &__li {
    padding: 20px 22px;
    list-style: none;
    border-bottom: 1px solid #ebebf2;

    @media (max-width: 575.98px) {
      padding: 13px 10px;
    }
  }

  &__choice-category {
    display: flex;

    align-items: center;
    flex-shrink: 0;

    .checkbox-radio {
      margin-right: 12px;

      label {
        color: #0c0f44;

        b {
          font-weight: 500;
        }
      }

      &:hover {
        label {
          color: #0063a3;
        }
      }
    }
  }

  &__selected-types {
    font-size: 13px;
    line-height: 15px;
    position: relative;
    // margin-top: 4px;
    padding: 0 22px;
    padding-left: 36px;
    color: #687685;
  }

  &__prev-link {
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
  }

  &__link-category {
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
    position: relative;
    width: 100%;
    padding: 5px 0;

    &:after {
      position: absolute;
      top: 50%;
      right: 10px;
      display: block;
      width: 7px;
      height: 13px;
      content: "";
      transform: translate(0, -50%);
      background: url("../img/icons/drop-down-arrow-right.svg") no-repeat 50% / contain;

      @media (max-width: 575.98px) {
        right: 14px;
      }
    }

    &:hover {
      text-decoration: none;
    }
  }

  &__subtypes-title {
    display: flex;

    align-items: center;
  }

  &__subtypes-list {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    transition: transform .3s;
    transform: translate(-100%, 0);
    background-color: #ffffff;

    &.show {
      transform: translate(0,0);
    }
  }
}

.checkbox-radio.none-label {
  height: 22px;

  label {
    width: 22px;
    height: 22px;
    padding: 0;

    &:before {
      top: 0px;
    }

    &:after {
      top: 7px;
    }
  }
}

.card-video {
  display: block;

  .card__img {
    position: relative;
  }

  .play {
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    width: 64px;
    height: 64px;
    transform: translate(-50%, -50%);

    &:after {
      background-color: #ffffff;
    }

    svg {
      position: relative;
      z-index: 1;
      width: 16px;
      margin-left: 3px;
    }
  }

  &:hover {
    .play:after {
      background-color: #e96311;
    }
    .play svg {
      path {
        fill: #ffffff;
      }
    }
  }
}

.filters-model {
  display: flex;
  color: #687685;

  align-items: center;
  flex-shrink: 0;

  &:hover {
    text-decoration: none;
    color: #0c0f44;

    i {
      padding-right: 10px;
      svg {
        path {
          fill: #0c0f44;
        }
      }
    }
  }

  i {
    padding-right: 10px;
    svg {
      path {
        fill: #687685;
      }
    }
  }

  .filter-arrow-ico {
    padding-left: 10px;
  }

  &.active,
  &[aria-expanded='true'] {

    .filter-arrow-ico svg {
      transform: rotate(180deg);
    }

    i {
      padding-right: 10px;
      svg {
        path {
          fill: #0c0f44;
        }
      }
    }
  }
}

.filters-model-form {
  position: relative;
  z-index: 10;


  .form-filter-doc {
    padding-top: 30px;
  }

  .poduct-info-title {
    margin-bottom: 0;
  }
}
