.header {
	z-index: 50;
	position: relative;
	background: #fff;
	display: flex;
	flex-flow: column;

	@media (max-width: 991.98px) {
		position: fixed;
		width: 100%;
		background: #FFFFFF;
		box-shadow: 0px 2px 20px rgba(12, 15, 68, 0.1);
		z-index: 50;
	}

	&.overflow-hidden {
		overflow: hidden;
	}

	.mob-menu-btn {
		margin-right: 20px;
	}

	.basket {
		@media (max-width: 991.98px) {
			margin-left: 160px;
		}
		@media (max-width: 575.98px) {
			margin-left: 40px;
			padding-left: 0;
		}
	}

	.tel {

		@media (max-width: 575.98px) {
			width: 25px;
			height: 25px;
			background: url("../img/icons/tel-ico.svg") no-repeat 50% / contain;
		}
		span {
			@media (max-width: 575.98px) {
				display: none;
			}
		}
	}

	.search {
		@media (max-width: 575.98px) {
			position: fixed;
			top: 0;
			left: 0;
			height: 60px;
			z-index: 50;
			display: none;
			margin: 0;

			&.active {
				display: block;
			}


			.search-clear {
				right: 10px;

				svg {
					width: 17px;

					path {
						fill: #0C0F44;
					}
				}
			}
		}
		
	}

	.search-btn {
		display: none;
		align-items: center;
		justify-content: center;
		margin-right: 25px;

		@media (max-width: 575.98px) {
			display: flex;
		}

		img {
			width: 26px;
		}
	}

	&.fixed {
		.header-bottom {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			box-shadow: 0px 2px 20px rgba(12, 15, 68, 0.1);

			@media (max-width: 991.98px) {
				position: relative;
				box-shadow: none;
			}

			.tel.for-fixed-header {
				display: block;
				margin-right: 20px;

				@media (max-width: 1199.98px) {
					display: none;
				}
			}
		}


	}

}

.for-fixed-header {
	display: none;
}


.header-midle-bottom-wrap {
	height: 124px;
	@media (max-width: 991.98px) {
		height: auto;
		display: flex;
		justify-content: space-between;
	}
}



.header-fixed {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	box-shadow: 0px 2px 20px rgba(12, 15, 68, 0.1);
	transform: translate(0, -110%);
	// transition: transform .5s;
	background: #fff;

	@media (max-width: 991.98px) {
		display: none;
	}

	&.show {
		transform: translate(0, 0);
	}

	.search {
		width: 100%;
		margin-left: 20px;

		@media (max-width: 1199.98px) {
			margin-left: 0;
		}
	}
}

.header-top {
	background: #0063A3;
	box-shadow: 0px 2px 12px rgba(23, 30, 38, 0.06);
	color: #fff;
	display: flex;
	align-items: center;
	height: 42px;

	@media (max-width: 991.98px) {
  	display: none;  
	}

	&__nav {
		display: flex;
		list-style: none;

		li {
			margin-right: 30px;

			&:last-child {
				margin-right: 0;
			}
		}

		a {
			font-size: 15px;
			line-height: 1;
			color: #B2D0E3;

			&:hover {
				color: #fff;
				text-decoration: none;
			}

		}
	}
}

.lang {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;

	li {
		margin-left: 30px;

		&:first-child {
			margin-left: 0;
		}
	}

	a {
		font-size: 18px;
		line-height: 1;
		color: rgba(255, 255, 255, 0.5);
		position: relative;

		&:after {
			content: "";
			width: 100%;
			height: 3px;
			border-radius: 5px;
			background: #E96311;
			position: absolute;
			left: 0;
			bottom: -12px;
			display: none

		}

		&.active,
		&:hover {
			color: #FFFFFF;
			text-decoration: none;

			&:after {
				display: block;
			}

		}

		&.active {
			font-weight: bold;
		}
	}
}



.header-middle {
	padding-top: 15px;
	padding-bottom: 10px;
	background: #fff;

	@media (max-width: 991.98px) {
		height: 60px;
		display: flex;
		align-items: center;
		flex-shrink: 0;
	}

	.container {
		@media (max-width: 991.98px) {
			padding-right: 0;
		}
	}

	p {
		margin-bottom: 0;
	}
	
	&__nav {
		display: flex;
		align-items: center;

		@media (max-width: 991.98px) {
			display: none;
		}

		li {
			margin-right: 30px;
			display: flex;
			align-items: center;

			&:last-child {

				@media (max-width: 1199.98px) {
			    margin-right: 15px;
			  }
				
			}
		}
		a {
			&:hover {
				text-decoration: none;
			}
		}
	}

	.logo {
		margin-right: 15px;
		margin-top: 5px;

		@media (max-width: 991.98px) {
    	width: 81px;
    	margin-top: 0;
    	margin-right: 25px;
		}
	}

	.mail, .time-work {
		@media (max-width: 991.98px) {
			display: none;
		}
	}
}

.logo {
	display: block;
	min-height: 1px;
	width: 112px;
	flex-shrink: 0;

	img {
		width: 100%;
		display: block;
	}
}



.dropdown-nav {
	line-height: 1;

	&__hidden {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		cursor: pointer;
	}

	&:hover {
		.btn {
			color: #0063A3;
		}

		.dropdown-nav__hidden {
			transform: translateY(100%);
		}

		.dropdown-toggle::after {
			background: url('../img/icons/drop-down-arrow-up.svg') no-repeat 50%/contain;
		}

		.dropdown-menu {
			display: block;
			transform: translate3d(-21px, 31px, 0px) !important;
			top: 0px;
			left: 0px;
			will-change: transform;
		}
	}

	&.show {
		.btn {

			color: #0063A3;
		}
		.dropdown-toggle::after {
			background: url("../img/icons/drop-down-arrow-up.svg") no-repeat  50% / contain;
		}
	}

	.btn {
		padding: 0;
		padding-right: 18px;
		height: auto;
		border: none;
		display: inline-flex;
		align-items: center;
		font-size: 16px;
		line-height: 19px;
		outline: none;
		position: relative;
		color: #0C0F44;
		font-size: 16px;
		font-weight: 400;
	}

	.btn::after {
		border: none;
		width: 10px;
		height: 6px;
		background: url("../img/icons/drop-down-arrow.svg") no-repeat  50% / contain;
		margin-left: 0;
		position: absolute;
		// top: 8px;
		// right: 0px;
		top: 50%;
		right: 0px;
		transform: translateY(-50%);
	}

	.dropdown-menu {
		background: #FFFFFF;
		box-shadow: 0px 4px 30px rgba(12, 15, 68, 0.15);
		border-radius: 4px;
		border: none;
		padding: 10px 0px;
		padding-bottom: 12px;

		&.show {
			transform: translate3d(-21px, 31px, 0px) !important;
		}
	}

	.dropdown-item {
		padding: 5px 21px;
		font-size: 16px;
		line-height: 19px;
		color: #0C0F44;

		&:hover,
		&.active {
			background: none;
			color: #0063A3;
		}

		&.active {
			background: none;
			color: #0063A3;
			font-weight: 500;
		}
	}
}

.action-link {
	background: #E96311;
	border-radius: 20px;
	display: inline-flex;
	height: 30px;
	padding: 0 16px;
	align-items: center;
	justify-content: center;
	color: #fff;
	line-height: 1;
	font-weight: bold;
	padding-bottom: 0px;

	&:hover {
		background-color: #0063A3;
		text-decoration: none;
		color: #fff;
	}
}

.mail,
.time-work {
	font-size: 14px;
	line-height: 16px;
}

.mail {
	&:hover {
		text-decoration: none;
	}
}

.tel {
	font-size: 18px;
	line-height: 140.62%;
	font-weight: bold;
	color: #0C0F44;
	flex-shrink: 0;

	&:hover {
		text-decoration: none;
	}
}

.header-tel-mob-absolute {

	@media (max-width: 991.98px) {
   	position: absolute;
   	top: 0;
   	line-height: 60px;
   	right: 80px; 
   	z-index: 2;
	}
	@media (max-width: 767.98px) {
		right: 70px;
	}

	@media (max-width: 575.98px) {
		right: 63px;
		top: 18px;
	}
}


.header-bottom {
	height: 60px;
	display: flex;
	align-items: center;
	background: #fff;
	position: relative;

	@media (max-width: 991.98px) {
  	height: auto;  
  	width: 100%;
	}

	@media (max-width: 575.98px) {
		width: auto;
	}

	.container {
		display: flex;
		align-items: center;
		justify-content: center;

		@media (max-width: 991.98px) {
			padding-left: 0;
		}
		@media (max-width: 575.98px) {
			justify-content: flex-end;
		}
	}

	&__nav {
		display: flex;
		transform: translateY(4px);
		flex-shrink: 0;
		position: relative;

		@media (max-width: 991.98px) {
			display: none;
		}
	}

	.dropdown-nav {
		margin-right: 30px;

		@media (max-width: 1199.98px) {
			margin-right: 20px;
		}

		.btn {
			font-size: 15px;
			line-height: 140.62%;
			font-weight: bold;
			height: 51px;
			padding-bottom: 7px;
		}
	}

}

.dropdown-nav-catalog {
	position: relative;

	&:before {
		content: "";
		display: none;
		width: calc(100% + 28px);
		height: 100%;
		background: #FFFFFF;
		box-shadow: 0px 4px 30px rgba(12, 15, 68, 0.15);
		border-radius: 2px 2px 0 0;
		position: absolute;
		left: -14px;
		top: 1px;
	}

	.btn {
		&::after {
			top: calc(50% - 3px);
		}
	}

	&.show {
		&:before {
			display: block;
		}
	}

	.dropdown-menu {
		display: none !important;
	}
}

.catalog {
	position: absolute;
	top: 165px;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 100%;
	max-width: 1260px;
	background: #FFFFFF;
	transform: translate(0, -100%);
	box-shadow: 0px 4px 30px rgba(12, 15, 68, 0.15);
	border-radius: 0 0 2px 2px;
	z-index: 40;
	transition: transform .5s;
	// height: calc(100vh - 42px - 59px - 160px - 10px);
	max-height: 746px;
	overflow-y: auto;

	&.disabled {
		pointer-events: none;
	}

	@media (max-width: 991.98px) {
		display: none;
	}


	&__inner {
		width: 100%;
		height: 746px;
		display: flex;
		flex-flow: column;
		align-content: flex-start;
		flex-wrap: wrap;
		padding: 20px;
		padding-left: 40px;	
		width: auto;

		@media (max-width: 1199.98px) {
			height: 1000px;
		}
	}

	&.show {
		transform: translate(0, 0);

		&.fixed {
			top: 59px;
			position: fixed;
			height: calc(100vh - 70px);
			max-height: 746px;
		}
	}

	&__item {
		display: flex;
		width: calc(25% - 20px);
		margin-right: 20px;
		margin-top: 20px;

		@media (max-width: 1199.98px) {
			width: calc(33.33% - 20px);
		}
	}

	&__img {

		img {
			width: 60px;
		}
	}

	&__nav {
		padding-left: 20px;

		li {
			margin-bottom: 7px;
			font-size: 14px;
			line-height: 16px;
		}

		a {
			font-size: 14px;
			line-height: 16px;
			color: #687685;

			&:hover,
			&.active {
				text-decoration: none;
				color: #0063A3;
			}
		}
	}

	&__title {
		font-weight: 600;
		font-size: 15px;
		line-height: 18px;
		color: #0C0F44;
		margin-bottom: 16px;

		a {
			color: #0C0F44;
			font-weight: 600;
			font-size: 15px;
			line-height: 18px;
			color: #0C0F44;
			margin-bottom: 16px;

			// &:hover {

			// }
		}
	}

	&__btn {
		width: 166px;
		height: 42px;
		font-weight: 500;
		font-size: 15px;
		line-height: 18px;
		color: #0C0F44;
		background: #FFFFFF;
		box-shadow: 0px 4px 30px rgba(12, 15, 68, 0.15);
		border-radius: 34px;
		padding: 0 10px 0 30px;
		position: fixed;
		left: 50%;
		transition: none;
		transform: translate(-50%, 20%);
		opacity: 0;
		z-index: 40;
		pointer-events: none;
		display: none;

		@media (max-width: 1280px) and (min-width: 992px)  {
    	display: flex;
		}

		&::before {
			content: "";
			width: 12px;
			height: 12px;
			background-image: url("../img/icons/cross-cyan.svg");
			background-size: contain;
			background-repeat: no-repeat;
			background-position: 50% 50%;
			position: absolute;
			top: 50%;
			left: 15px;
			transform: translateY(-50%);
			transition: all .15s;
		}

		&:hover {
			color: #0063A3;

			&::before {
				background-image: url("../img/icons/cross-blue.svg");
			}
		}

		&:focus {
			box-shadow: 0px 4px 30px rgba(12, 15, 68, 0.15);
		}

		&.show {
			opacity: 1;
			z-index: 40;
			transform: translate(-50%, 0%);
			pointer-events: auto;
		}
	}
}


.input-search {
	width: 100%;
	background: #FFFFFF;
	border: 1px solid #E2E2EC;
	box-shadow: 0px 2px 12px rgba(23, 30, 38, 0.06);
	border-radius: 2px;
	position: relative;
	z-index: 2;

	&.active {
		border: 2px solid #E96311;

		.btn {

			svg {
				path {
					stroke: #E96311;
					&:last-child {
						fill: #E96311;
					}
				}
			}
		}
	}

	.form-control {
		display: block;
		border: none;
		height: 40px;
		font-size: 14px;
		line-height: normal;
		font-family: 'Roboto', sans-serif;
		color: #0C0F44;
		padding-right: 30px;


		&::placeholder { 
			opacity: 1;
			font-size: 14px;
			line-height: 40px;
			font-family: 'Roboto', sans-serif;
			color: #687685;
		}

		&::-ms-clear {  display: none; width : 0; height: 0; }
		&::-ms-reveal {  display: none; width : 0; height: 0; }
		&::-webkit-search-decoration,
		&::-webkit-search-cancel-button,
		&::-webkit-search-results-button,
		&::-webkit-search-results-decoration { display: none; }

	}
	.btn {
		padding: 0 12px;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;

		img, svg {
			width: 17px;
		}
	}
}

.search {
	position: relative;
	width: 100%;
	background: #FFFFFF;
	height: 40px;

}

.search-result {
	padding-top: 5px;
	width: 100%;
	min-width: 400px;
	position: absolute;
	z-index: 1;
	top: 100%;
	transform: translate(0, 7px);
	left: 0;
	background: #FFFFFF;
	box-shadow: 0px 4px 30px rgba(12, 15, 68, 0.15);
	border-radius: 2px;
	display: none;

	@media (max-width: 991.98px) {
		position: fixed;
		top: 60px;
		left: 0;
		width: 100%;
		min-width: 0;
		transform: translate(0);
		border-radius: 0;
		z-index: 40;

	}


	&.show {
		display: block;

		
		@media (max-width: 991.98px) {
			z-index: 0;
			box-shadow: inset 0px 15px 30px -15px rgba(12, 15, 68, 0.15);
			padding-top: 10px;
		}
	}

	&__item {
		display: flex;
		align-items: center;
		padding: 5px 20px;

		img {
			width: 40px;
		}

		span {
			font-size: 14px;
			line-height: 16px;
			color: #0C0F44;
			padding-left: 10px;
		}

		&:hover {
			text-decoration: none;
			color: #0063A3;

			span {
				color: #0063A3;
			}
		}
	}
}

.all-result {
	padding: 0 20px;
	display: flex;
	align-items: center;
	margin-top: 15px;
	position: relative;

	&__link {
		padding-bottom: 15px;
		padding-top: 13px;
		border-top: 1px solid #EBEBF2;
		display: flex;
		width: 100%;
		justify-content: space-between;
		align-items: center;
		font-weight: 500;
		font-size: 14px;
		line-height: 134.77%;
		display: flex;
		align-items: center;
		color: #E96311;

		&:hover {
			color: #0063A3;
			text-decoration: none;
		}
	}

	.card {
		position: absolute;
		left: calc(100% + 2px);
		top: 15px;
		background: #FFFFFF;
		display: none;

		&.show {
			display: block;
		}

		
	}
}

.title-dot {
	font-weight: 500;
	font-size: 11px;
	line-height: 13px;
	display: flex;
	align-items: center;
	text-transform: uppercase;
	color: #E96311;
	padding-left: 14px;
	position: relative;

	&:before {
		content: "";
		width: 4px;
		height: 4px;
		border-radius: 50%;
		position: absolute;
		top: 50%;
		left: 0;
		background: #E96311;
		transform: translate(0, -50%);
	}
	&.green {
		color: #45A00B;
		&:before {
			background: #45A00B;
		}
	}
}

.comparison-link {
	display: block;
	margin: 0 10px;

	&:hover {
		opacity: 0.85;
	}

	img {
		width: 32px;
	}
}

.search-clear {
	display: none;
	position: absolute;
	top: 50%; 
	right: 44px;
	transform: translate(0, -50%);
	z-index: 5;
	padding: 5px;

	img, svg {
		width: 12px;
	}

	&.active {
		display: block;
	}

}

.basket {
	display: flex;
	align-items: center;
	position: relative;
	min-width: 211px;
	padding-left: 25px;
	flex-shrink: 0;

	@media (max-width: 991.98px) {
		min-width: 0;
	}

	&:hover {
		text-decoration: none;

		&:after {
			background: url("../img/icons/drop-down-arrow-hover.svg") no-repeat 50% / contain;
		}
	}

	&:after {
		content: "";
		display: block;
		width: 15px;
		height: 9px;
		background: url("../img/icons/drop-down-arrow.svg") no-repeat 50% / contain;
		position: absolute;
		top: 50%;
		right: 0;
		transform: translate(0, -50%);

		@media (max-width: 991.98px) {
			display: none;
		}
	}

	&__img {
		display: block;
		position: relative;
		margin-right: 15px;

		@media (max-width: 991.98px) {
			margin-right: 0;
		}
	}

	&__num {
		font-weight: bold;
		font-size: 10px;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 17px;
		height: 17px;
		position: absolute;
		top: 0px;
		right: 0px;
		border-radius: 50%;
		background: #E96311;
		color: #fff;

	}

	&__plus {

		img {
			width: 14px;
			position: absolute;
			top: 0px;
			right: 0px;
		}
	}

	&__title {
		font-weight: 500;
		font-size: 12px;
		line-height: 14px;
		color: #687685;
		margin-bottom: 0;

		@media (max-width: 991.98px) {
			display: none;
		}
	}

	&__amount {
		font-weight: bold;
		font-size: 14px;
		line-height: 140.62%;
		margin-bottom: 0;
		@media (max-width: 991.98px) {
			display: none;
		}
	}
}

.basket-img {
	width: 34px;
}



@media (max-width: 575.98px) {
	.header {
		.input-search {
			height: 100%;

			&.active {
				border: none;
			}

			.form-control {
				height: 100%;
			}

			.input-group-append {
				display: none;
			}

			.search-clear {
				right: 10px;

				svg {
					width: 17px;

					path {
						fill: #0C0F44;
					}
				}
			}
		}
	}
}

.header-mob-left {
	display: flex;
	align-items: center;
}

.mob-menu-btn {
	display: none;

	@media (max-width: 991.98px) {
		display: block;
	}
	
	@media (max-width: 575.98px) {
		margin-left: 10px;
	}

	img {
		width: 22px;
	}
}

.mob-menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 400px;
	background: #F3F3F9;
	z-index: 60;
	height: 100%;
	transform: translate(-100%, 0);
	transition: transform .3s ease;

	@media (min-width: 991.98px) {
		display: none !important;
	}

	@media (max-width: 575.98px) {
		width: calc(100% - 40px);
		max-width: 400px;
	}


	.mob-menu-close {
		display: none;
	}

	&.show {
		transform: translate(0);
		box-shadow: 0px 4px 30px rgba(12, 15, 68, 0.15);

		.mob-menu-close {
			display: block;
		}
	}

	&__head {
		height: 50px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 22px;
		background: #0C0F44;

		@media (max-width: 575.98px) {
			padding: 0 10px;
		}
	}

	.logo {
		img {
			width: 81px;
		}
	}

	.lang {
		a {
			&:after {
				display: none;
			}
		}
	}

	&__main {
		background: #F3F3F9;
		height: calc(100% - 50px);
		position: relative;
		overflow: auto;
	}

	&__main-cover {
		display: flex;
		flex-flow: column;
		justify-content: space-between;
		height: 100%;
	}

	&__main-top {
		padding: 0 22px;

		@media (max-width: 575.98px) {
			padding: 0 10px;
		}
	}

	&__main-bottom {
		padding: 22px;


		@media (max-width: 575.98px) {
			padding: 10px;
		}
	}

	.mail {
		font-size: 15px;
		line-height: 18px;
	}

	.tel {
		font-size: 24px;
		line-height: 140.62%;
	}
}

.mob-menu-close {
	position: absolute;
	top: 15px;
	right: -28px;

	img {
		width: 16px;
	}
}

.mob-nav {

	&:last-child {

		& > li {

			&:first-child {
				border-top: 1px solid #E2E2EC;
			}
			
		}
	}

	& > li {
		padding: 5px 0;
		border-bottom: 1px solid #E2E2EC;
	}

	.mob-nav-ico {
		margin-right: 15px;
	}

	& > li > a {
		display: flex;
		align-items: center;
		font-size: 16px;
		line-height: 19px;
		position: relative;
		min-height: 48px;
		padding: 0 20px;
		padding-right: 60px;

		@media (max-width: 575.98px) {
			padding: 0 10px;
			min-height: 38px;
			padding-right: 40px;
		}

		&:after {
			content: "";
			display: block;
			width: 8px;
			height: 15px;
			background: url("../img/icons/drop-down-arrow-left-mob-menu-item.svg") no-repeat 50% / contain;
			position: absolute;
			top: 50%;
			transform: translate(0, -50%);
			right: 20px;

		}

		&:hover {
			text-decoration: none;
		}
	}	

}

.mob-nav-first-menu {
	& > li > a {
		padding: 0;

		&:after {
			right: 10px;
		}
	}
}



.mob-nav-catalog {
	padding: 5px 0px;
	margin: 0 -22px;
	background-color: #fff;

	@media (max-width: 575.98px) {
		margin: 0 -10px;
	}

	& > li {
		border-bottom: 1px solid #EBEBF2;

		&:last-child {
			border-bottom: none;
		}

		& > a {
			padding: 0px 22px;
			padding-right: 60px;

			@media (max-width: 575.98px) {
				padding: 0 10px;
				padding-right: 40px;
			}

			&:after {
				right: 32px;

				@media (max-width: 575.98px) {
					right: 20px;
				}

			}
		}
	}

}

.mob-nav-links {
	padding: 10px 0;

	// li {

	// }

	a {
		min-height: 28px;
		display: flex;
		align-items: center;
		font-size: 16px;
		line-height: 28px;

		&:hover {
			text-decoration: none;
		}

	}

	.link-color {
		color: #E96311;
	}
}



.sub-menu-show {
	transform: translate(0) !important;
}


.sub-menu-catalog {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	transition: transform .3s;
	transform: translate(-100%, 0);
	// overflow: auto;

	// &__cover {
		// position: relative;
	// }
	
}

.sum-menu-head {
	border-bottom: 1px solid #EBEBF2;

	li {
		padding: 0;
	}

	a {
		height: 50px;
		display: flex;
		align-items: center;
		padding: 0 20px;
	}
}

.sub-menu-back {
	height: 50px;
	font-weight: 500;
	font-size: 16px;
	line-height: 28px;
	background-color: #F3F3F9;
	position: relative;
	padding-left: 38px !important;
	display: flex;
	align-items: center;
	padding-top: 2px;

	@media (max-width: 575.98px) {
		padding-left: 28px !important;	
	}

	&:after {
		content: "";
		display: block;
		width: 7px;
		height: 13px;
		background: url("../img/icons/drop-down-arrow-left.svg") no-repeat 50% / contain;
		position: absolute;
		top: 50%;
		left: 20px;
		transform: translate(0, -50%);

		@media (max-width: 575.98px) {
			left: 10px;
		}
	}

	&:hover {
		text-decoration: none;
		color: #0C0F44;
	}

}

.sub-menu-see-all {
	height: 50px;
	font-weight: 500;
	font-size: 16px;
	line-height: 28px;
	background-color: #fff;
	position: relative;
	display: flex;
	align-items: center;
	color: #0063A3;
	padding: 0 20px;

	&:hover {
		text-decoration: none;
	}

	@media (max-width: 575.98px) {
		padding: 0 10px;
	}

}


.mob-nav-catalog-type {
	margin: 0;
	padding: 0;
	a {
		img {
			width: 48px;
		}
	}
}

.sub-menu {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	background-color: #fff;
	overflow: auto;
	z-index: 2;
	transform: translate(-100%, 0);
	transition: transform .2s ease;
	
	.mob-nav {
		a {

			&:after {
				display: none;
			}

			img {
				width: 48px;
			}
		}
	}
}

.dropdown-nav-catalog {

	
	.close-catalog {
		position: absolute;
		bottom: 5px;
		left: 50%;
		transform: translateX(-50%);
		display: none;
	}

	&.show {
		.close-catalog {
			display: block;
		}
	}
}

.close-catalog {
	width: 12px;
	height: 12px;
	background-image: url("../img/icons/cross-cyan.svg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50% 50%;

	&:hover {
		opacity: 0.6;
	}
}