.hero-block {
	min-height: 580px;
	// background-image: url("../img/images/hero-bg-1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	display: flex;
	flex-flow: column;

	@media (max-width: 1199.98px) {
		padding-top: 45px;
		min-height: 420px;
		padding-bottom: 50px;
	}

	@media (max-width: 991.98px) {
		min-height: 370px;
		display: flex;
		align-items: center;
		justify-content: center;
		
	}

	@media (max-width: 575.98px) {
		min-height: 215px;
	}

	&:after {
		content: "";
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(12, 15, 68, 0.65);
		display: none;

		@media (max-width: 1199.98px) {
			display: block;		
		}
	}

	.container {
		position: relative;
		z-index: 5;

		@media (max-width: 1199.98px) {
			padding-bottom: 80px;
		}
	
	}

	&__title {
		font-weight: 900;
		font-size: 28px;
		line-height: 42px;
		color: #FFFFFF;
		max-width: 618px;
		padding-top: 85px;

		@media (max-width: 1199.98px) {
			max-width: 540px;
			text-align: center;
			padding-top: 0px;
			margin: 0 auto;

		}

		@media (max-width: 991.98px) {
			font-size: 28px;
			line-height: 42px;
			
		}

		@media (max-width: 575.98px) {
			font-size: 20px;
			line-height: 23px;
			padding: 0 10px;
		}
	}

}

.hero-slider-nav {
	top: 390px;
	left: calc(50% - 1180px / 2);
	position: absolute;
	display: flex;
	align-items: center;
	@media (max-width: 1240px) {
		left: 22px;
	}

	@media (max-width: 1199.98px) {
		left: 50%;
		top: auto;
		transform: translate(-50%, 0);
		bottom: 90px;
	}

	@media (max-width: 991.98px) {
		bottom: 10px;
	}


	.carousel-control-prev,
	.carousel-control-next { 
		@media (max-width: 991.98px) {
			display: none;
		}
	}
}

.hero-carousel {
	.carousel-control-prev,
	.carousel-control-next {
		position: relative;
		top: auto;
		left: auto;
		background: rgba(255, 255, 255, 0.1);

		&:hover {
			background: #FFFFFF;
			opacity: 1;
		}
	}

	.carousel-control-prev {
		&:hover {
			.carousel-control-prev-icon {
				background-image: url("../img/icons/hero-slider-prev-orange.svg");
			}
		}
	}
	.carousel-control-next {
		&:hover {
			.carousel-control-next-icon {
				background-image: url("../img/icons/hero-slider-next-orange.svg");
			}
		}
	}

	.carousel-control-prev-icon {
		background-image: url("../img/icons/hero-slider-prev.svg");
	}

	.carousel-control-next-icon {
		background-image: url("../img/icons/hero-slider-next.svg");
	}

	.carousel-indicators {
		position: relative;
		margin: 0 20px;
		
		li {
			margin-left: 10px;
			margin-right: 10px;
			width: 32px;
			opacity: 0.25;
			border-radius: 6px;
		}

		.active {
			opacity: 1;
		}
	}
}

.hero-cards {
	position: absolute;
	top: 0;
	right: calc(50% - (#{1180px} / 2));

	@media (max-width: 1240px) {
		right: 22px;
	}

	@media (max-width: 1199.98px) {
		right: calc(50% - (#{940px} / 2));
		display: none;
	}

	.card {
		margin-top: 20px;
		max-width: 280px;

		@media (max-width: 1199.98px) {
			max-width: 220px;
		}

		&:after {
			content: "";
			background: #E96311;
			width: calc(100% - #{40px});
			height: 3px;
			position: absolute;
			top: 0;
			left: 50%;
			transform: translate(-50%, 0);
			z-index: 5;
			display: none;
		}

		&:hover {
			&:after {
				display: block;
			}
		}

		&__content {
			@media (max-width: 1199.98px) {
				height: 57px;
				overflow: hidden;
				margin-bottom: 21px;
			}
		}

		.overlay {
			backdrop-filter: none;
		}
	}
}


.card {
	display: block;
	border-radius: 2px;
	width: 100%;
	padding: 10px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	overflow: hidden;
	border: none;
	// margin: 0 auto;

	@media (max-width: 991.98px) {
		padding: 5px;
	}

	@media (max-width: 575.98px) {
		max-width: 100%;
	}

	&:hover {
		text-decoration: none;
		box-shadow: 0px 4px 30px rgba(12, 15, 68, 0.15);

		.card__content {
			p {
				color: #0063A3;
			}
		}
	}

	&__title {
		padding: 0 10px;
		padding-top: 8px;
		position: relative;
		z-index: 5;

		@media (max-width: 1199.98px) {
			padding: 3px 10px;
		}
	}

	&__content {
		padding: 0 10px;
		line-height: 18px;
		height: 84px;
		margin-bottom: 27px;
		overflow: hidden;
		position: relative;
		z-index: 5;

		@media (max-width: 1199.98px) {
			padding: 0 10px;
			height: 70px;
			margin-bottom: 15px;
		}


		p, a {
			font-size: 14px;
			line-height: 18px;
			color: #0C0F44;
		}
	}

	&__img {
		width: 100%;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		margin-bottom: 10px;
		padding-top: 61%;
		border-radius: 2px;
	}

	&__footer {
		border-top: 1px solid #EBEBF2;
		padding: 10px 0;
		margin: 0 10px;
		padding-bottom: 2px;
		position: relative;
		z-index: 5;

		@media (max-width: 1199.98px) {
			margin: 0 10px;
			margin-right: -15px;
			padding-bottom: 5px;
		}
	}

	&__date {
		font-weight: 500;
		font-size: 13px;
		line-height: 15px;
		color: #687685;
		padding-left: 23px;
		position: relative;
		line-height: 15px;

		&:before {
			content: "";
			display: block;
			background-image: url("../img/icons/сalendar.svg");
			background-repeat: no-repeat;
			background-position: 0 50%;
			background-size: 16px;
			width: 18px;
			height: 20px;
			position: absolute;
			top: -3px;
			left: 0;
		}
	}

	&__date-hide-text {
		@media (max-width: 991.98px) {
			display: none;
		}
	}

	&.white-text {

		.title-dot {
			color: #fff;
		}

		.card {

			&__content {

				p {
					color: #fff;
				}
			}
			
			&__date {
				color: #fff;
				

				&:before {
					background-image: url("../img/icons/сalendar-white.svg");
				}
			}

			&__footer {
				border-top: 1px solid rgba(255, 255, 255, 0.15);
			}
		}
	}

	&.card-upcoming {

		.title-dot {
			color: #0063A3;

			&:before {
				background-color: #0063A3;
			}
		}

		.card__date {
			&:before {
				background-image: url("../img/icons/bell.svg");
				top: -2px;
			}
		}
	}
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	backdrop-filter: blur(4px);
	transition: all .3s;

	&:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(12, 15, 68, 0.75);
    transition: background .3s;
  }

  &.body-overlay {
		position: fixed;
		display: none;
		z-index: 10;

		@media (min-width: 992px) {
			display: none !important;
		}
  }

  &.for-mob-menu {
  	z-index: 55;
  }

  &.show {
    display: block;
  }
}

.section-title {
	font-weight: 600;
	font-size: 26px;
	line-height: 28px;
	margin-bottom: 7px;

	@media (max-width: 991.98px) {
		font-size: 20px;
		line-height: 28px;
		margin-bottom: 3px;
	}

}

.section-head {
	padding-top: 20px;
	padding-bottom: 15px;
	position: relative;
	z-index: 10;

	@media (max-width: 1199.98px) {
		padding-bottom: 10px;
	}

	&__cover {
		display: flex;
		align-items: center;
		min-height: 45px;

		@media (max-width: 1199.98px) {
			flex-flow: column;
			align-items: flex-start;
		}

		@media (max-width: 991.98px) {
			min-height: 0;
		}

		& > div {
			@media (max-width: 1199.98px) {
				width: 100%;
			}
		}
	}

	&.pt-20 {
		padding-top: 20px;

		@media (max-width: 1199.98px) {
			padding-top: 15px;
		}

		@media (max-width: 991.98px) {
			padding-top: 10px;
		}
	}

	&.pt-40 {
		padding-top: 40px;

		@media (max-width: 1199.98px) {
			padding-top: 30px;
		}

		@media (max-width: 575.98px) {
			padding-top: 25px;
		}

	}
}

.main-page-content {
	margin: 0 -22px;

	@media (max-width: 991.98px) {
		margin: 0;
	}
}

.main-content {
	background: #fff;
	padding-bottom: 20px;
	border-radius: 2px;
	display: flex;
	flex-flow: column;


	@media (max-width: 991.98px) {
		border-radius: 0;
	}

	&-double {
		background: transparent;
		margin: 0 -18px;

		@media (max-width: 991.98px) {
			padding-bottom: 0;
			margin: 0;
		}

		&__content {
			background: #fff;
			padding: 40px;
			// @media (max-width: 1199.98px) {
			// 	padding: 40px 22px;
			// }
			@media (max-width: 991.98px) {
				padding: 30px 22px;
			}

			@media (max-width: 767.98px) {
				padding: 30px 15px;	
			}

			@media (max-width: 575.98px) {
				padding: 30px 10px;	
			}
		}
	}

	&.p-40 {
		padding: 40px;
	}

	&.pb-20 {
		padding-bottom: 20px;
	}

	&.p-20-40 {
		padding: 20px 40px;
	}

	&.pt-20 {
		@media (max-width: 991.98px) {
		  padding-top: 15px;
		}
	}
	
}

.card-product {
	display: block;
	background: #FFFFFF;
	border-radius: 2px;
	border: 1px solid #EBEBF2;
	width: 100%;

	&:hover {
		text-decoration: none;
		box-shadow: 0px 4px 30px rgba(12, 15, 68, 0.15);
	}
}

.card-product-big {
	position: relative;
	height: 310px;
	overflow: hidden;

	@media (max-width: 991.98px) {
		height: 150px;
	}

	&__img {
		max-width: 100%;
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 1;

		@media (max-width: 991.98px) {
			height: 70%;
			margin: 0 auto;
		}
		@media (max-width: 575.98px) {
			margin: 0;
		}
	}

	&__head {
		position: absolute;
		top: 0;
		left: 0;
		padding-top: 30px;
		padding-left: 30px;
		padding-right: 10px;
		z-index: 2;

		@media (max-width: 991.98px) {
			padding-top: 17px;
			padding-left: 20px;
			padding-right: 10px;
		}

		@media (max-width: 575.98px) {
			padding-top: 14px;
			padding-left: 10px;
			position: relative;
			z-index: 3;
		}

	}

	&__title {
		font-size: 18px;
		line-height: 21px;
		margin-bottom: 7px;
		font-weight: normal;

		@media (max-width: 991.98px) {
			font-size: 14px;
			line-height: 16px;
			margin-bottom: 3px;
		}
	}

	&__desc {
		font-size: 14px;
		line-height: 16px;
		color: #687685;

		@media (max-width: 991.98px) {
			font-size: 13px;
			line-height: 15px;
		}
	}

	.type-ico {
		position: absolute;
		right: 32px;
		bottom: 22px;
		z-index: 2;

		@media (max-width: 991.98px) {
			right: 24px;
			bottom: 16px;
		}
	}

	&:after {
		content: "";
		width: 0;
		height: 0;
		border-bottom: 120px solid #F3F3F9; 
		border-left: 120px solid transparent;	
		position: absolute;
		right: 0;
		bottom: 0;
		z-index: 1;

		@media (max-width: 991.98px) {
			border-bottom: 88px solid #F3F3F9; 
			border-left: 88px solid transparent;
		}
	}

	&:hover {
		color: #0C0F44;
		box-shadow: 0px 4px 30px rgba(12, 15, 68, 0.15);

		.type-ico {
			background-color: #E96311;

			.type-cabinet-furniture {
				background-image: url("../img/icons/type-ico/hover/cabinet-furniture.svg");

				@media (max-width: 991.98px) {
					background-image: url("../img/icons/type-ico/mob/hover/cabinet-furniture.svg");
				}
			}

			.door-manufacturing {
				background-image: url("../img/icons/type-ico/hover/door-manufacturing.svg");

				@media (max-width: 991.98px) {
					background-image: url("../img/icons/type-ico/mob/hover/door-manufacturing.svg");
				}
			}

			.tables-and-chairs {
				background-image: url("../img/icons/type-ico/hover/tables-and-chairs.svg");

				@media (max-width: 991.98px) {
					background-image: url("../img/icons/type-ico/mob/hover/tables-and-chairs.svg");
				}
			}

			.facades-ico {
				background-image: url("../img/icons/type-ico/hover/facades.svg");

				@media (max-width: 991.98px) {
					background-image: url("../img/icons/type-ico/mob/hover/facades.svg");
				}
			}

			.paging-ico {
				background-image: url("../img/icons/type-ico/hover/paging.svg");

				@media (max-width: 991.98px) {
					background-image: url("../img/icons/type-ico/mob/hover/paging.svg");
				}
			}

			.joiner-ico {
				background-image: url("../img/icons/type-ico/hover/joiner.svg");

				@media (max-width: 991.98px) {
					background-image: url("../img/icons/type-ico/mob/hover/joiner.svg");
				}
			}

			
		}
	}
}

.card-product-big-hero {

	.card-product-big__title {
		font-size: 24px;
		line-height: 28px;
		margin-bottom: 5px;

		@media (max-width: 1199.98px) {
			font-size: 18px;
			line-height: 21px;
		}

		@media (max-width: 991.98px) {
			font-size: 14px;
			line-height: 16px;
			margin-bottom: 3px;
		}
	}
}

.type-ico {
	width: 85px;
	height: 85px;
	border-radius: 50%;
	background: #fff;
	display: flex;
	align-items: center;
	justify-content: center;

	@media (max-width: 991.98px) {
		width: 63px;
		height: 63px;
	}
}

.type-cabinet-furniture {
	width: 49px;
	height: 46px;
	background-image: url("../img/icons/type-ico/cabinet-furniture.svg");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 50% 50%;

	@media (max-width: 991.98px) {
		width: 37px;
		height: 35px;
	}
}

.door-manufacturing {
	width: 44px;
	height: 47px;
	background-image: url("../img/icons/type-ico/door-manufacturing.svg");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 50% 50%;

	@media (max-width: 991.98px) {
		width: 33px;
		height: 35px;
	}
}

.tables-and-chairs {
	width: 53px;
	height: 38px;
	background-image: url("../img/icons/type-ico/tables-and-chairs.svg");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 50% 50%;

	@media (max-width: 991.98px) {
		width: 40px;
		height: 28px;
	}
}

.facades-ico {
	width: 34px;
	height: 44px;
	background-image: url("../img/icons/type-ico/facades.svg");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 50% 50%;

	@media (max-width: 991.98px) {
		width: 26px;
		height: 33px;
	}
}

.paging-ico {
	width: 60px;
	height: 40px;
	background-image: url("../img/icons/type-ico/paging.svg");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 50% 50%;

	@media (max-width: 991.98px) {
		width: 46px;
		height: 30px;
	}
}

.joiner-ico {
	width: 49px;
	height: 46px;
	background-image: url("../img/icons/type-ico/joiner.svg");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 50% 50%;

	@media (max-width: 991.98px) {
		width: 37px;
		height: 34px;
	}
}

.type-equipment {
	width: 61px;
	height: 43px;
	background-image: url("../img/icons/type-ico/type-equipment.svg");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 50% 50%;

	@media (max-width: 991.98px) {
		width: 37px;
		height: 34px;
	}
}

.type-tool {
	width: 56px;
	height: 51px;
	background-image: url("../img/icons/type-ico/type-tool.svg");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 50% 50%;

	@media (max-width: 991.98px) {
		width: 37px;
		height: 34px;
	}
}

.parts-consumables {
	width: 47px;
	height: 47px;
	background-image: url("../img/icons/type-ico/parts-consumables.svg");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 50% 50%;

	@media (max-width: 991.98px) {
		width: 37px;
		height: 34px;
	}
}

.more-products {
	background: #0063A3;
	border-radius: 2px;
	height: 100%;
	width: 100%;
	display: block;
	padding: 30px;
	position: relative;


	@media (max-width: 1199.98px) {
		padding: 25px 30px;
		min-height: 125px;
		padding-left: 125px;
		display: flex;
		align-items: center;
	}

	@media (max-width: 991.98px) {
		padding: 15px 10px;
		padding-left: 90px;
		min-height: 90px;
	}

	&:after {
		content: "";
		width: 0;
		height: 0;
		border-bottom: 120px solid #fff; 
		border-left: 120px solid transparent;	
		position: absolute;
		right: 0;
		bottom: 0;
		z-index: 1;

		@media (max-width: 1199.98px) {
			display: none;
		}
	}

	&__title {
		font-size: 24px;
		line-height: 28px;
		color: #FFFFFF;
		margin-top: 12px;
		font-weight: normal;

		@media (max-width: 1199.98px) {
			max-width: 180px;
			margin-right: 20px;
		}

		@media (max-width: 991.98px) {
			font-size: 16px;
			line-height: 19px;
			max-width: 150px;
		}
	}

	&__desc {
		font-size: 15px;
		line-height: 19px;
		color: #FFFFFF;
		min-height: 100px;

		@media (max-width: 1199.98px) {
			min-height: 0;
			max-width: 385px;
		}

		@media (max-width: 991.98px) {
			display: none;
		}
	}

	.arrow-right {
		width: 31px;
		position: absolute;
		bottom: 20px;
		right: 10px;
		z-index: 4;

		@media (max-width: 1199.98px) {
			right: 30px;
			top: 50%;
			bottom: auto;
			transform: translate(0, -50%);

			path {
				fill: #fff;
			}
		}

		@media (max-width: 991.98px) {
			right: 10px;
		}
	}

	&:hover {
		text-decoration: none;
		background-color: #E96311;

		.arrow-right {
			path {
				fill: #E96311;
			}
		}

		@media (max-width: 1199.98px) {

			.arrow-right {
				path {
					fill: #fff;
				}
			}
		}

	}

	.star-box-img {
		@media (max-width: 1199.98px) {
			display: block;
			position: absolute;
			left: 20px;
			top: 50%;
			transform: translate(0, -50%);
		}
	}
}

.star-box-img {
	width: 65px;

	@media (max-width: 991.98px) {
		width: 48px;
	}
}

.go-over {
	font-weight: 500;
	font-size: 14px;
	line-height: 28px;
	color: #0063A3;
	padding: 0 20px;

	@media (max-width: 575.98px) {
		padding: 0;
	}

	&:hover {
		text-decoration: none;
		color: #E96311;
	}

}

.filters {
	display: flex;
	align-items: center;
	flex-wrap: wrap;

	a {
		display: block;
		margin: 0 15px;
		padding: 5px 0;
		font-size: 16px;
		line-height: 28px;
		display: flex;
		align-items: center;
		position: relative;
		color: #687685;
		outline: none;

		@media (max-width: 1199.98px) {
			margin: 0;
			margin-right: 30px;

			&:last-child {
				margin-right: 0;
			}
		}

		span {
			display: inline-block;
			position: relative;
			opacity: 0;

			&::after {
				content: "";
				width: 100%;
				height: 2px;
				border-radius: 5px;
				background: #E96311;
				position: absolute;
				left: 0;
				bottom: -1px;
				display: none;
			}

			&.fake {
				position: absolute;
				top: 50%;
				right: 0%;
				width: auto;
				height: calc(100% - #{10px});
				transform: translate(0, -50%);
				display: flex;
				align-items: center;
				justify-content: center;
				opacity: 1;
				white-space: nowrap;
			}
		}

		&.active {
			color: #0C0F44;
			text-decoration: none;

			span {
				&::after {
					display: block;
				}

				&.fake {
					font-weight:bold;
				}
			}

			svg {

				path {
					fill: #0C0F44;
				}
			}
		}

		&:hover {
			color: #0C0F44;
			text-decoration: none;

			svg {

				path {
					fill: #0C0F44;
				}
			}
		}
	}
}

.bell-ico {
	width: 17px;
	display: inline-block;
	margin-right: 10px;
	flex-shrink: 0;
}

.row-slider {
	margin: -40px 0px;
	padding-bottom: 20px;

	.carousel-item {
		padding: 40px 7.5px;
	}

	.slick-list {
		padding: 0 7px;
		margin: 0 -14.5px;
	}
}

.services-block {
	background: url("../img/images/services-bg.jpg") no-repeat 50% / cover;
	padding: 50px 0;
	margin: 20px 0;
	display: flex;
	flex-flow: column;
	justify-content: center;

	@media (max-width: 1199.98px) {
		margin: 10px 0;
	}


	&__cover {
		display: flex;
		align-items: center;
		justify-content: space-between;
		min-height: 115px;
		padding: 0 20px;

	}

	&__title {
		font-weight: 500;
		font-size: 26px;
		line-height: 30px;
		color: #FFFFFF;
		max-width: 300px;
	}

	&__desc {
		font-size: 18px;
		line-height: 24px;
		color: #FFFFFF;
		max-width: 420px;
		margin-right: 50px;

		@media (max-width: 1199.98px) {
			margin-right: 0;
			max-width: 360px;
		}
	}
}

.action-card {
	background: #FFFFFF;
	border: 1px solid #EBEBF2;
	box-sizing: border-box;
	border-radius: 2px;
	
	&:hover {
		box-shadow: 0px 4px 30px rgba(12, 15, 68, 0.15);
	}

	&__content {
		padding: 15px 20px;
		display: block;

		@media (max-width: 1199.98px) {
			padding: 10px;
		}

		&:hover {
			text-decoration: none;

			.action-card__name {
				color: #0063A3;
			}
		}
	}

	&__head {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-bottom: 13px;

		@media (max-width: 1199.98px) {
			padding-bottom: 8px;
		}
	}

	&__head-title {
		font-weight: 500;
		font-size: 11px;
		line-height: 13px;
		text-transform: uppercase;
		color: #45A00B;
		margin-bottom: 0;
	}

	&__head-desc {
		font-size: 11px;
		line-height: 13px;
		text-align: right;
		text-transform: uppercase;
		color: #687685;
	}

	&__img-wrap {
		border-radius: 2px;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-size: contain;
		position: relative;
		margin-bottom: 15px;
		padding-top: 88%;
	}

	&__discount {
		font-weight: bold;
		font-size: 14px;
		line-height: 16px;
		text-align: center;
		text-transform: uppercase;
		color: #FFFFFF;
		background: #0063A3;
		border-radius: 0 2px 2px 0;
		position: absolute;
		top: 10px;
		left: 0;
		padding: 2px 5px;
	}

	&__name {
		font-size: 14px;
		line-height: 18px;
		color: #0C0F44;

		&:hover {
			text-decoration: none;
		}
	}

	&__bottom {
		display: flex;
		border-top: 1px solid #EBEBF2;

		&>div {
			border-right: 1px solid #EBEBF2;
			width: 50%;
			display: flex;
			flex-flow: column;
			align-items: center;
			justify-content: center;
			padding: 0 20px;
			height: 48px;

			@media (max-width: 1199.98px) {
				padding: 0 10px;
			}

			&:last-child {
				border-right: none;
			}
		}
	}

	.price {
		flex-flow: column;
		align-items: flex-start;
	}

	.in-basket {
		text-align: center;
		padding: 0;
	}

	&__old-price {
		font-size: 13px;
		line-height: 15px;
		color: #687685;
		position: relative;

		&:after {
			content: "";
			display: block;
			width: 100%;
			height: 1px;
			background: #0C0F44;
			position: absolute;
			top: 50%;
			left: 0;
		}
	}

	&__price {
		font-weight: 500;
		font-size: 16px;
		line-height: 19px;
	}

	&__in-basket {
		font-weight: 500;
		font-size: 14px;
		line-height: 134.77%;
		text-align: center;
		color: #E96311;
		padding: 15px;
		display: block;
		width: 100%;
		height: 100%;

		&:hover {
			text-decoration: none;
			color: #0C0F44;
		}
	}
}

.partners-1-img {
	width: 76px;
}
.partners-2-img {
	width: 139px;
}
.partners-3-img {
	width: 119px;
}
.partners-4-img {
	width: 127px;
}
.partners-5-img {
	width: 139px;
}

.card-partner {
	height: 90px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
	background: #FFFFFF;
	border: 1px solid #E9ECEF;
	border-radius: 2px;


	&:hover {
		opacity: 0.85;
		box-shadow: 0px 4px 30px rgba(12, 15, 68, 0.15);
	}
}

.card-product-small {
	padding: 10px;

	@media (max-width: 1199.98px) {
		padding: 5px;
	}

	&__img {
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-size: cover;
		padding-top: 72.5%;
	}

	&__desc {
		font-size: 14px;
		line-height: 18px;
		padding: 10px;

		@media (max-width: 1199.98px) {
			display: none;
		}
	}
}

.section-viewed {
	margin-top: 2	0px;
}

.page-head {
	background: #0C0F44;
	color: #fff;
	padding-bottom: 167px;
	padding-top: 1px;
	@media (max-width: 1199.98px) {
	  padding: 1px 0 50px; 
	}

	@media (max-width: 991.98px) {
		padding-bottom: 1px;
	}
}

.page-head-no-breadcrumbs {
	padding-top: 20px;
}

.page-filters {
	background: #0C0F44;
    padding-bottom: 167px;
    color: #fff;
    margin-top: -167px;
    @media (max-width: 1199.98px) {
	  	padding: 1px 0 50px; 
	  	margin-top: -50px;
	}

	@media (max-width: 991.98px) {
		padding-bottom: 1px;
		margin-top: -1px;
	}
}

.page-head-short {
	padding-bottom: 100px;

	@media (max-width: 1199.98px) {
    
	}

}

.page-desc {
	margin-bottom: 30px;
	font-size: 18px;
	line-height: 22px;


	color: #FFFFFF;

	opacity: 0.8;
}

.main-page-cover {
	margin-top: -167px;
	max-width: 1260px;

	@media (max-width: 1199.98px) {
  	margin-top: -50px;  
  	margin-bottom: 15px;
  	max-width: 1020px;
	}

	@media (max-width: 991.98px) {
		margin-top: 0;

	}

	&.mb-40 {
		margin-bottom: 40px;
	}
}

.main-page-cover-short {
	margin-top: -100px;

	@media (max-width: 1199.98px) {
    margin-top: -92px; 
	}
}

.main-page-double-cover {
	max-width: 1224px;

	@media (max-width: 1199.98px) {
  	max-width: 984px;
	}
}


.breadcrumb {
	background: none;
	padding: 10px 0;
	padding-bottom: 0;
	margin-bottom: 10px;

	@media (max-width: 991.98px) {
		padding: 0;
		margin-bottom: 0;
	}
}

.breadcrumb-item {
	padding: 10px 0;
	font-weight: 500;
	font-size: 13px;
	line-height: 15px;
	color: #687685;
	
	a {
		color: #687685;

		&:hover {
			text-decoration: none;
			color: #0063A3;
		}
	}

	&.active {
		color: #687685;
	}
}

.breadcrumb-item+.breadcrumb-item {
	padding-left: 10px;
}

.breadcrumb-item+.breadcrumb-item::before {
	padding-right: 10px;
}

.breadcrumb-item-prev-page {
	display: block;
	font-weight: 500;
	font-size: 13px;
	line-height: 15px;
	color: #687685;
	position: relative;
	padding-left: 20px;

	a {
		&::before {
			content: "";
			display: block;
			font-size: 0;
			width: 8px;
			height: 12px;
			background-image: url("../img/icons/drop-down-arrow-left-gray.svg");
			background-size: contain;
			background-repeat: no-repeat;
			background-position: 50% 50%;
			position: absolute;
			top: 12px;
			left: 0;
		}

		&:hover {
			text-decoration: none;

			&:before {
				background-image: url("../img/icons/drop-down-arrow-left-hover.svg");
			}
		}
	}

	

}

.page-title {
	font-weight: bold;
	font-size: 28px;
	line-height: 42px;
	color: #FFFFFF;
	margin-top: 10px;
	padding-bottom: 20px;
	margin-bottom: 0;

	@media (max-width: 991.98px) {
		font-size: 20px;
		line-height: 23px;
		margin-top: 5px;
		padding-bottom: 15px;
	}

	&__separate {
		display: none;
		
		@media (max-width: 991.98px) {
			display: inline;
		}
	}

	&__desc {
		font-size: 24px;
		line-height: 28px;
		display: none;
		font-weight: normal;
		text-transform: lowercase;

		@media (max-width: 991.98px) {
			display: inline;
			font-size: 16px;
			line-height: 19px;
		}

		span {
			font-size: 28px;
			line-height: 42px;

			@media (max-width: 991.98px) {
				font-size: 20px;
				line-height: 23px;
			}
		}
	}
}

.date-change {

	&__time {
		color: #E96311;
	}

	&__input-wrap {
		display: inline-block;
		position: relative;
		padding-right: 13px;
		white-space: nowrap;

		&:after {
			content: "";
			display: block;
			position: absolute;
			right: 22px;
			top: 20px;
			width: 16px;
			height: 10px;
			background-image: url("../img/icons/arrow-down-orange.svg");
			background-repeat: no-repeat;
			background-size: contain;
			background-position: 50% 50%;
			pointer-events: none;

			@media (max-width: 991.98px) {
				width: 10px;
				height: 6px;
				top: 10px;
				right: 22px;
			}
		}

		&.hide-input {
			padding-right: 25px;

			@media (max-width: 991.98px) {
				padding-right: 15px;
			}

			&:after {
				right: 1px;
			}
			.date-change__input {
				display: block;
				width: 213px;
				position: absolute;
				top: 0;
				right: -8px;
				opacity: 0;

				@media (max-width: 991.98px) {
					width: 120px;
					right: 5px;
				}
			}
		}
	}

	&__input {
		font-family: "Roboto";
		background: none;
		border: none;
		font-weight: bold;
		width: 465px;
		font-size: 36px;
		height: 42px;
		color: #E96311;
		outline: none;
		padding-right: 18px;
		cursor: pointer;


		@media (max-width: 991.98px) {
			font-size: 20px;
			height: 24px;
			width: 270px;
		}
	}
}

.content-head {
	min-height: 68px;
	display: flex;
	align-items: center;
	border-bottom: 2px solid #F3F3F9;
	

	@media (max-width: 576.98px) {
		padding: 15px 0;
	}

	.filters {
		margin: 0 -15px;


		@media (max-width: 1199.98px) {
    	margin: 8px 0;
    	margin-right: 15px;
		}

		a {
			span:after {
				bottom: -21px;

				@media (max-width: 767.98px) {
    			bottom: 2px;
				}
			}
		}
	}
}

.card-full {
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: column;
	position: relative;
	min-height: 335px;

	@media (max-width: 991.98px) {
    padding: 18px 10px;
	}

	&:after {
		content: "";
		background: #E96311;
		width: calc(100% - #{40px});
		height: 3px;
		position: absolute;
		top: 0;
		left: 50%;
		transform: translate(-50%, 0);
		z-index: 5;
		display: none;
	}

	&:hover {
		&:after {
			display: block;
		}
	}

	.card__content {
		height: 100%;

		font-size: 20px;
		line-height: 24px;
		padding-top: 10px;

		@media (max-width: 567.98px) {
			padding-top: 0;
		}

		a, p {
			font-size: 20px;
			line-height: 24px;

			@media (max-width: 991.98px) {
		    font-size: 18px;
				line-height: 22px;
			}

			@media (max-width: 567.98px) {
				font-size: 14px;
				line-height: 18px;
			}

			@media (max-width: 440px) {
				font-size: 18px;
				line-height: 22px;
			}
		}
	}
}

.news-cards {
	margin-top: 30px;
}

.news-cards-row {
	& > div {
		@media (max-width: 440px) {
			max-width: 100%;
			flex: 0 0 100%;
   		max-width: 100%;

		}
	}
}

.btn-more {
	max-width: 560px;
	margin: 20px auto;
}

.btn-more-product {
	box-shadow: 0px 4px 30px rgba(12, 15, 68, 0.15);
	max-width: 560px;
	margin: 0 auto;

	@media (max-width: 1199.98px) {
		max-width: 100%;
	}

	.color-text {
		display: block;
		color: #0C0F44;
		transition: color .15s ease-in-out,
	}

	.orange-text {
		color: #E96311;
		transition: color .15s ease-in-out,
	}

	&:hover {
		.color-text {
			color: #fff;
		}

		.orange-text {
			color: #fff;
		}
	}
}
.tab-item-wrap {
	position: relative;

}
.tab-item {
	width: 100%;
	
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	z-index: -1;


	&-wrap {
		position: relative;
	}



	&.active {
		display: block;
		position: relative;
		opacity: 1;
		z-index: 5;
		transition: opacity .3s ease;
	}
}

.section-catalog {
	background-color: #F3F3F9;
	padding-top: 20px;

	@media (max-width: 575.98px) {
		padding: 10px 0;
		margin: 0 -10px;
	}

	.row > div {
		margin-bottom: 20px;

		@media (max-width: 575.98px) {
			margin-bottom: 0;
		}

		&:last-child {
			.card-catalog {
				@media (max-width: 575.98px) {
					border-bottom: none;
				}
				
			}
		}
	}
}

.catalog-ico {
	background-color: #0063A3;
	width: 48px;
	height: 48px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;

	@media (max-width: 575.98px) {
		width: 38px;
		height: 38px;
	}

	img {
		display: block;
	}


}

.card-catalog {
	border: 1px solid #E2E2EC;
	box-sizing: border-box;
	border-radius: 2px;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 20px;
	height: 100%;
	position: relative;

	@media (max-width: 575.98px) {
		border: none;
		border-bottom: 1px solid #E2E2EC;
		padding: 10px;
		flex-flow: row;
		justify-content: flex-start;


		&:after {
			content: "";
			display: block;
			width: 8px;
			height: 13px;
			background: url("../img/icons/drop-down-arrow-right.svg") no-repeat 50% / contain;
			position: absolute;
			top: 50%;
			right: 20px;
			transform: translate(0, -50%);
		}
	}

	&:hover {
		text-decoration: none;

		.catalog-ico {
			background-color: #E96311;
		}
	}

	.catalog-ico {
		margin: 0 10px;
		margin-bottom: 10px;

		@media (max-width: 575.98px) {
			width: 38px;
			height: 38px;
			margin-bottom: 0;
			margin-left: 0;
		}
	}

	&__title {
		font-size: 16px;
		line-height: 19px;
		text-align: center;
		margin-bottom: 0;
	}
}

.catalog-ico-1 {
	width: 33px;

	@media (max-width: 575.98px) {
		width: 26px;
	}
}

.catalog-ico-5 {
	width: 33px;

	@media (max-width: 575.98px) {
		width: 26px;
	}
}

.catalog-ico-6 {
	width: 26px;

	@media (max-width: 575.98px) {
		width: 20px;
	}
}

.catalog-ico-2 {
	width: 36px;

	@media (max-width: 575.98px) {
		width: 29px;
	}
}

.catalog-ico-3 {
	width: 25px;

	@media (max-width: 575.98px) {
		width: 19px;
	}
}

.catalog-ico-4 {
	width: 26px;

	@media (max-width: 575.98px) {
		width: 20px;
	}
}

.problem-solving {
	@media (max-width: 575.98px) {
		.section-title {
			text-align: center;
			width: 100%;
		}	
	}
}

.filters-dropdown {

	.btn.section-title {
		font-weight: 500;
		font-size: 20px;
		line-height: 28px;

		&:after {
			top: 15px;
		}
	}

	&:hover {
		.btn {
			color: #0C0F44;
		}

		.dropdown-nav__hidden {
			transform: translateY(100%);
		}

		.dropdown-toggle::after {
			background: url('../img/icons/drop-down-arrow.svg') no-repeat 50%/contain;
		}

		.dropdown-menu {
			display: none;
		}
	}

	&.show {
		.btn {
			color: #0063A3;
		}
		.dropdown-toggle::after {
			background: url('../img/icons/drop-down-arrow-up.svg') no-repeat 50%/contain;
		}
		.dropdown-menu {
			display: block;
		}
	}

	.dropdown-menu {
		min-width: 250px;
		padding: 10px;
	}
	
	.dropdown-menu.show  {
		transform: translate3d(0, 31px, 0px) !important;
		width: auto;
		padding: 10px;
	}

	a {
		flex-shrink: 0;
		margin-right: 0;
		line-height: 1.35;
		padding: 0;
		padding-bottom: 5px;

		span {
			opacity: 1;
			padding-bottom: 3px;
			margin-right: 20px;
			white-space: nowrap;

		}
	}

	
}