.block-404 {
	display: flex;

	@media (max-width: 991.98px) {
  	flex-flow: column;  
  	align-items: center;
	}

	&__img {
		width: 292px;
		margin: 0 45px;

		@media (max-width: 991.98px) {
			margin: 45px auto;
		}
	}


	&__content {
		padding-left: 20px; 

		@media (max-width: 991.98px) {
			padding-left: 0;
			padding-top: 20px;
		}
	}

	&__title {
		font-weight: 500;
		font-size: 18px;
		line-height: 26px;
		margin-bottom: 17px;

		@media (max-width: 991.98px) {
  		font-size: 18px;
			line-height: 21px;
		}
	}

	&__list {
		li {
			margin-bottom: 10px;

		}

		p {
			font-size: 16px;
			line-height: 22px;

			@media (max-width: 991.98px) {
    		font-size: 14px;
    		line-height: 19px;
			}
		}
		.p-dot {
			&:before {
				top: 10px;

				@media (max-width: 991.98px) {
    			top: 7px;
				}
			}
		}
	}

	.btn {
		display: inline-flex;
		margin-top: 20px;
		margin-bottom: 20px;
	}

}