html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

body {
  font-family: "Roboto", sans-serif;
  color: #0c0f44;
  background: #f3f3f9;
  min-width: 300px;

  &.body-overflow-hidden {
    
    @media (max-width: 991.98px) {
      overflow: hidden;
    }
  }
}

a {
  color: #0c0f44;

  &:hover {
    color: #0063a3;
  }
}

.btn.focus, .btn:focus {
  outline: 0;
  box-shadow: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin-bottom: 0;
}

img {
  display: block;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
  padding-right: 10px;
  padding-left: 10px;

  @media (max-width: 575px) {
    padding-right: 5px;
    padding-left: 5px;
  }
}

.row {
  margin-right: -10px;
  margin-left: -10px;

  @media (max-width: 575px) {
    margin-right: -5px;
    margin-left: -5px;
  }
}

.wrapper {
  display: flex;
  overflow: hidden;
  width: 100%;
  flex-flow: column;
  overflow: hidden;
}

.main {
  @media (max-width: 991.98px) {
    padding-top: 60px;
  }
}

.container {

  @media (min-width: 576px) {
    max-width: 100%;
  }

  @media (max-width: 575.98px) {
    padding: 0 10px;  
  }

  @media (min-width: 768px) {
    max-width: 100%;
    padding: 0 22px;
  }

  @media (min-width: 992px) {
    max-width: 984px;
    
  }

  @media (min-width: 1200px) {
    max-width: 1224px;
  }
}

.btn {
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  display: flex;
  height: 48px;
  padding: 0 36px;
  text-align: center;
  color: #ffffff;
  border: none;
  border-radius: 2px;
  outline: none;
  box-shadow: none;

  align-items: center;
  justify-content: center;
}

.btn-primary {
  background: #e96311;
  border: 2px solid #e96311;

  &:hover {
    color: #fff;
    background: #0063A3;
    border: 2px solid #0063A3;
  }
}

.btn-primary.disabled, .btn-primary:disabled {
	background: #0063A3 !important;
	opacity: 1;

	&:hover {
		color: #fff;
	}
}

.btn-primary:not(:disabled):not(.disabled):active {
	background: #e96311;
	box-shadow: none;
}

.btn-primary:not(:disabled):not(.disabled):active:focus {
	box-shadow: none;
}

.btn-secondary {
  text-align: center;
  color: #0063a3;
  border: 2px solid #ebebf2;
  border-radius: 2px;
  background: #ffffff;

  &:hover {
    border-color: #e96311;
    background: #e96311;
  }
}

.btn-secondary:not(:disabled):not(.disabled).active {
  border-color: #e96311;
  background: #e96311;
}

.btn-secondary:not(:disabled):not(.disabled):active {
  color: #0063a3;
  border-color: #e96311;
  background: #e96311;
}

.btn-light {
  text-align: center;
  color: #0063A3;
  border: 2px solid #FFFFFF;
  border-radius: 2px;
  background: #FFFFFF;

  &:hover {
    color: #FFFFFF;
    border-color: #e96311;
    background: #E96311;
  }
}

.btn-light:not(:disabled):not(.disabled).active {
  border-color: #e96311;
  background: #e96311;
}

.btn-light:not(:disabled):not(.disabled):active {
  color: #0063a3;
  border-color: #e96311;
  background: #e96311;
}

.form-control:focus {
  color: #0c0f44;
  border-color: #e2e2ec;
  outline: 0;
  box-shadow: none;
  background-color: #ffffff;
}


.carousel-control-prev,
.carousel-control-next {
  width: 34px;
  height: 34px;
  cursor: pointer;
  opacity: 1;
  border-radius: 50%;
  background: #ffffff;

  flex-shrink: 0;

  &.slick-disabled {
    .carousel-control-prev-icon {
      background-image: url("../img/icons/slider-prev-disabled-ico.svg");
    }

    .carousel-control-next-icon {
      background-image: url("../img/icons/slider-next-disabled-ico.svg");
    }
  }
}


.carousel-control-prev-icon,
.carousel-control-next-icon {
  display: block;
  width: 10px;
  height: 18px;
  margin-right: 2px;
  background-image: url("../img/icons/slider-prev-ico.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
}

.carousel-control-next-icon {
  margin-right: 0;
  margin-left: 2px;
  background-image: url("../img/icons/slider-next-ico.svg");
}



.overlay {
  position: relative;
}

.main-cover {
  position: relative;
  z-index: 3;
  width: 100%;
  max-width: 1260px;
  margin: 0 auto;
  margin-top: -95px;
  border-radius: 2px;

  @media (max-width: 1199.98px) {
    margin-top: -50px;
    max-width: 1020px;
  }

  @media (max-width: 991.98px) {
    margin-top: 0px;
    max-width: 100%;
  }

}

.slick-dots li {
  width: 32px;
  height: 3px;
  margin: 10px 5px;
}

.slick-dots li button {
  width: 100%;
  height: 100%;
  padding: 0;
  background: none;
}

.slick-dots li button:before {
  content: "";
  width: 100%;
  height: 100%;
  background: #E2E2EC;
  border-radius: 6px;
  opacity: 1;
}

.slick-dots li.slick-active button:before {
  background: #E96311;
}
.row-slider-nav {
  display: flex;
  margin-left: 35px;
  align-items: center;

  @media (max-width: 991.98px) {
    display: none;
  }

  .carousel-control-prev,
  .carousel-control-next {
    position: relative;
    top: auto;
    left: auto;
  }

  .carousel-control-next {
    margin-left: 10px;
  }
}

.col-mb-20 {
  & > .row {
    & > div {
      margin-bottom: 20px;

      @media (max-width: 575px) {
        margin-bottom: 10px;
      }
    }
  }
}


.mb-40 {
  margin-bottom: 40px;

  @media (max-width: 575px) {
    margin-bottom: 20px;
  }
}

.mb-20 {
  margin-bottom: 20px;

  @media (max-width: 575px) {
    margin-bottom: 10px;
  }
}

.pl-30 {
	padding-left: 30px;

  @media (max-width: 575px) {
    padding-left: 15px;
  }
}

.pt-20 {
  padding-top: 20px;

  @media (max-width: 575px) {
    padding-top: 10px;
  }
}

.pb-20 {
  padding-bottom: 20px;

  @media (max-width: 575px) {
    padding-bottom: 10px;
  }
}

.pt-40 {
  padding-top: 40px;

  @media (max-width: 575px) {
    padding-top: 20px;
  }
}

.pb-40 {
  padding-bottom: 40px;

  @media (max-width: 575px) {
    padding-bottom: 20px;
  }
}

.daterangepicker .drp-calendar.right {
  display: none !important;
}

.daterangepicker .drp-calendar.left {
  width: 320px;
  max-width: 320px !important;
  padding-right: 8px;

  @media (max-width: 767.98px) {
    width: 280px;
    max-width: 100% !important; 
  }

}

.daterangepicker .calendar-table {
  padding-right: 0 !important;
}

.daterangepicker.show-calendar .ranges {
  display: none;
}


.daterangepicker .drp-calendar .table-condensed {
  thead {
    tr {
      &:nth-child(1) {
        th {
          padding-top: 10px;
          padding-bottom: 30px;

          @media (max-width: 767.98px) {
            padding-bottom: 0px;
            padding-top: 0;
          }

          &:hover {
            background: none !important;

            span {
              border: solid #0c0f44 !important;
              border-width: 0 2px 2px 0 !important;
            }
          }
        }
      }
      &:nth-child(2) {
        th {
          font-size: 14px;
          font-weight: normal;
          padding-bottom: 20px;
          letter-spacing: 0.28px;
          color: #687685;

          @media (max-width: 767.98px) {
            padding-bottom: 0px;
            font-size: 12px;
          }
        }
      }
    }
  }
}

.daterangepicker .calendar-table th, .daterangepicker .calendar-table td {
  font-size: 14px;
  overflow: hidden;
  height: 40px;
  letter-spacing: 0.28px;
  border-top: 1px solid #ffffff;
  border-bottom: 2px solid #ffffff;

  @media (max-width: 767.98px) {
    height: 25px;
    width: 25px;
    min-width: 25px;
    font-size: 12px;
  }
}

.daterangepicker:after,
.daterangepicker:before {
  @media (max-width: 767.98px) {
    display: none;
  }
}


.daterangepicker .drp-buttons .btn,
.daterangepicker .drp-selected {
  display: none;
}
.daterangepicker .drp-buttons .btn.cancelBtn {
  display: block;
}

.daterangepicker .drp-buttons {
  display: block !important;
}

.daterangepicker td.start-date {
  color: #ffffff;
  border-radius: 6px 0 0 5px;
}

.daterangepicker td.end-date {
  color: #ffffff !important;
  border-radius: 0 6px 5px 0 ;
}

.daterangepicker td.in-range {
  color: #0063a3;
}

.daterangepicker td.available:hover, .daterangepicker th.available:hover {
  color: #ffffff !important;
  border-color: #ffffff !important;
  border-radius: 5px !important;
  background: #0063a3 !important;
}

.daterangepicker td.active, .daterangepicker td.active:hover {
  color: #ffffff !important;
  background: #0063a3 !important;
}




.daterangepicker .drp-buttons .btn {
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  width: 100%;
  height: 34px;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #0063a3;

  &:hover {
    text-decoration: underline;
  }
}


.daterangepicker .drp-buttons .btn.cancelBtn {
  display: block;
}

.daterangepicker th.month {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #0c0f44;
}

.daterangepicker .calendar-table .next span,
.daterangepicker .calendar-table .prev span {
  border: solid  #c6c6da;
  border-width: 0 2px 2px 0;
}

.separate-line {
  margin: 15px 0;
  background: #ebebf2;
}

.checkbox-radio {
  label {
    font-size: 15px;
    line-height: 18px;
    position: relative;
    display: inline-block;
    margin-bottom: 0;
    padding-left: 35px;
    cursor: pointer;
    color: #0C0F44;

    a {
      color: #0063A3;
      
      &:hover {
        text-decoration: none;
      }
    }
  }

  label:before {
    position: absolute;
    top: -2px;
    left: 0;
    display: inline-block;
    width: 22px;
    height: 22px;
    margin-right: 12px;
    content: "";
    border: 2px solid #e2e2ec;
    border-radius: 2px;
    box-shadow: 0px 2px 12px rgba(23, 30, 38, .06);
    background: #ffffff;
  }

  label:after {
    position: absolute;
    top: 5px;
    left: 6px;
    display: none;
    width: 11px;
    height: 9px;
    content: "";
    background: url("../img/icons/check-white.svg") no-repeat 50% / contain;
  }

  input[type=radio],
  input[type=checkbox] {
    display: none;
  }

  button {
    font-size: 14px;
    display: block;
    width: 110px;
    height: 30px;
    margin: 20px auto;
    margin-top: 10px;
    cursor: pointer;
    text-transform: uppercase;
    color: #ffffff;
    border: none;
    outline: none;
    background-color: #c92f35;
  }

  input[type=radio]:checked + label:before {
    border-color: #e96311;
    background: #e96311;
  }

  input[type=radio]:checked + label:after {
    display: block;
  }

  input[type=checkbox]:checked + label:before {
    border-color: #e96311;
    background: #e96311;
  }

  input[type=checkbox]:checked + label:after {
    display: block;
    border-radius: 0;
  }
}

.radio {
  label:before {
    border-radius: 50%;
  }
}

.page-item {
  &:last-child {
    .page-link {
      margin-right: 0;
    }
  }
}

.page-link {
	width: 36px;
	height: 36px;
	margin: 0 5px;
	border: none;
	margin: 0 5px;
	color: #0C0F44;
	border-radius: 2px;
	font-weight: 500;
	font-size: 16px;

	&:hover {
		background: none;
		color: #0063A3;
	}

}

.page-nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 30px;
	margin-bottom: 10px;

	&__ico {

	}
}



.page-prev,
.page-next {
	display: flex;
	align-items: center;
	height: 36px;
	padding: 0 20px;

	&__ico {
		display: block;
		width: 7px;
		height: 10px;
		background-repeat: no-repeat;
		background-size: contain;
		background-position: 50% 50%;
	}

  span {
    @media (max-width: 575.98px) {
      display: none;
    }
  }

	&:hover {
		text-decoration: none;
	}
}

.page-prev {
	&__ico {
		margin-right: 10px;
		background-image: url("../img/icons/drop-down-arrow-left.svg");
	}

	&:hover {
		text-decoration: none;

		.page-prev__ico {
			background-image: url("../img/icons/drop-down-arrow-left-hover.svg");
		}
		
	}
}
.page-next {
	&__ico {
		margin-left: 10px;
		background-image: url("../img/icons/drop-down-arrow-right.svg");
	}

	&:hover {

		.page-next__ico {
			background-image: url("../img/icons/drop-down-arrow-right-hover.svg");
		}
		text-decoration: none;
	}
}

.page-item {
  &:nth-child(3),
  &:nth-child(4) {
    @media (max-width: 575.98px) {
      display: none;
    }
    
  } 
}


.page-item.active .page-link {
	background: none !important;
	border: none !important;
	color: #0063A3;
}

.carousel-indicators li {
  height: 3px;
}

.slick-prev {
  left: 25px;
}

.slick-next {
  right: 25px;
}


.slick-prev,
.slick-next {
  font-size: 0px;
  line-height: 0px;
  position: absolute;
  z-index: 5;
  top: 50%;
  display: flex;
  width: 34px;
  height: 34px;
  padding: 0;
  cursor: pointer;
  transform: translate(0, -50%);
  opacity: 1;
  color: transparent;
  border: none;
  border-radius: 50%;
  outline: none;
  background: #ffffff;

  align-items: center;
  justify-content: center;
}
.slick-prev:hover,
.slick-next:hover,
.slick-prev:focus,
.slick-next:focus {
  color: transparent;
  outline: none;
  background: #ffffff;
}
.slick-prev:hover:before,
.slick-next:hover:before,
.slick-prev:focus:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 1;
}

.slick-prev.slick-disabled:before {
  background-image: url("../img/icons/slider-prev-disabled-ico.svg");
}
.slick-next.slick-disabled:before {
  background-image: url("../img/icons/slider-next-disabled-ico.svg");
}
.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 0px;
  line-height: 0;
  display: block;
  width: 10px;
  height: 18px;
  content: "";
  opacity: 1;
  color: #ffffff;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
}



.slick-prev {
  left: -54px;
}
[dir="rtl"] .slick-prev {
  right: -54px;
  left: auto;
}


[dir="rtl"] .slick-prev:before {
  content: "";
}
.slick-next {
  right: -54px;
}

[dir="rtl"] .slick-next {
  right: auto;
  left: -54px;
}


[dir="rtl"] .slick-next:before {
  content: "";
}

.slick-prev:before {
  margin-right: 2px;
  background-image: url("../img/icons/slider-prev-ico.svg");
}
.slick-next:before {
  margin-left: 2px;
  background-image: url("../img/icons/slider-next-ico.svg");
}

.tooltip-inner {
  max-width: 230px;
  border-radius: 4px;
  box-shadow: 0px 4px 30px rgba(12, 15, 68, .15);
  background-color: #0c0f44;
  padding-bottom: 8px;
}

.tooltip.show {
  opacity: 1 !important;
}

.form-control {
	width: 100%;
	background: #fff;;
	border: none;
	border-radius: 2px;
	border: 1px solid #E2E2EC;
	padding: 0 12px;
	height: 44px;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	line-height: 16px;
	color: #0C0F44;
  

	&::placeholder { 
		font-family: 'Roboto', sans-serif;
		font-size: 14px;
		line-height: 16px;
		opacity: 1;
		color: #687685;
	}
}

.carrying-form {
  .form-control {
    padding-top: 12px;
  }
}

.form-control:focus {
	border: 2px solid #E96311;
}

.form-control.is-invalid {
	background-image: url("../img/icons/invalide-form.svg");
	background-size: 18px;
	background-position: calc(100% - 10px) 50%;
	border: 1px solid #E2E2EC;
	color: #E96311;
}

.form-control.is-invalid:focus {
	box-shadow: none;
	border: 2px solid #E96311;
}

.form-control.is-valid {
	margin-bottom: 0;
	border: 1px solid #E2E2EC;
	color: #E96311;
}

.form-group {
  position: relative;
  margin-bottom: 20px;

  @media (max-width: 575.98px) {
    margin-bottom: 15px;  
  }

  &__label {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 16px;
    opacity: 1;
    color: #687685;
    position: absolute;
    top: 15px;
    padding: 0 14px;
    margin-bottom: 0;
    transition: all .3s ease;

    span {
      color: #E96311;
    }
  }

  &.used {
    .form-group__label {
      top: 9px;
      font-size: 11px;
      line-height: 13px;
      padding: 0 13px;

    }
  }
}

.invalid-feedback {
	margin-top: 4px;
  width: auto;
	font-size: 11px;
	line-height: 15px;
	color: #E96311;
	margin-bottom: -5px;
  background: #FDEFE7;
  padding: 3px 5px;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 3;

  &:after {
    content: "";
    display: block;
    border-radius: 4px;
    border: 5px solid transparent; 
    border-bottom: 5px solid #FDEFE7;
    position: absolute;
    top: -9px;
    left: 5px;
  }
}

.valid-feedback {
	margin-top: 6px;
	text-align: center;
	font-size: 13px;
	line-height: 15px;
	color: #E96311;
	margin-bottom: -5px;
}

.nav-tabs .nav-link {
  color: #687685;
  font-size: 16px;
  line-height: 28px;
  position: relative;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  border: none;

  &:after {
    content: "";
    width: 100%;
    height: 2px;
    border-radius: 5px;
    background: #E96311;
    position: absolute;
    left: 0;
    bottom: -2px;
    display: none;
  }
}
.nav-tabs .nav-item {
  margin-right: 30px;
  margin-bottom: 0;
}

.nav-tabs .nav-link.active {
  border: none;
  font-weight: 500;
  color: #0C0F44;

  &:after {
    display: block;
  }
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
   border: none;
}

.nav-tabs .nav-link:hover {
  color: #0C0F44;
}

.nav-tabs {
  border: none;
}


.popover {
  max-width: 282px;
  border: none;
  box-shadow: 0px 4px 30px rgba(12, 15, 68, 0.15);
  border-radius: 4px;

  .arrow {
    &:before {
      border: none;
    }
  }
}


.popover-body {
  padding: 10px;
}

.bs-popover-left {
  margin-right: 15px;
}

.bs-popover-right {
  margin-left: 15px;
}

.modal-backdrop {
  backdrop-filter: blur(4px);
}

.modal-backdrop.show {
  opacity: 1;
}

.modal-backdrop {
  background: none;
  
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(12, 15, 68, 0.75);
  }
}

.modal-content {
  border: none;
  background: #FFFFFF;
  border-radius: 2px;
  margin: 0 25px;

  @media (max-width: 575.98px) {
    margin: 0px;
  }
}

.modal-header {
  padding: 0 40px;
  padding-top: 30px;
  padding-bottom: 20px;
  border: none;
  padding-right: 20px;

  @media (max-width: 767.98px) {
    padding: 0 20px;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  @media (max-width: 575.98px) {
    padding: 0 10px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.modal-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;

  @media (max-width: 767.98px) {
    font-size: 18px;
    line-height: 22px;
  }
}


.close {
  color: #0C0F44;
  text-shadow: none;
  opacity: 1;
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 20;

  @media (max-width: 767.98px) {
    top: 15px;
    right: 20px;
  }

  @media (max-width: 575.98px) {
    top: 10px;
    right: 10px;
  }
  
  img {
    width: 16px;
    display: block;
    @media (max-width: 575.98px) {
      width: 12px;
    }
  }
}

.modal-header .close {
  padding: 0;
  margin: 0;
}

.modal-body {
  padding: 0px 40px;

  @media (max-width: 767.98px) {
    padding: 0px 20px;
  }

  @media (max-width: 575.98px) {
    padding: 0px 10px;
  }
}

.modal-footer {
  border: none;
  padding: 20px 40px;
  padding-bottom: 40px;

  @media (max-width: 575.98px) {
    padding: 15px 20px;
    padding-bottom: 15px;
  }

  .btn {
    width: 100%;
  }
}

.left-align-slick > .slick-list > .slick-track {
  margin-left:0;
}