.footer {
	margin-top: 40px;
	padding-top: 40px;
	background: #0C0F44;

	@media (max-width: 991.98px) {
		// display: none;
		padding-top: 0;
		margin-top: 10px;
	}

	@media (max-width: 575.98px) {
		padding-top: 20px;
	}

	&__main {
		padding-bottom: 40px;
		
		@media (max-width: 991.98px) {
			padding-top: 20px;
			padding-bottom: 20px;
		}

		@media (max-width: 575.98px) {
			padding-top: 0;
		  padding-bottom: 0;
		}
	}

	.logo {
		margin-bottom: 25px;
	}

	.tel {
		color: #fff;

		@media (max-width: 991.98px) {
    	font-size: 20px;
    	margin-bottom: 8px;
		}

		@media (max-width: 575.98px) {
			font-size: 24;
			line-height: 140.62%;
			margin-bottom: 5px;
		}
	}

	.time-work {
		color: #C6C6DA;
	}

	.mail {
		color: #C6C6DA;

		@media (max-width: 575.98px) {
			font-weight: 500;
			font-size: 13px;
			line-height: 15px;
		}
	}

	&__contact {
		margin-bottom: 10px;
		display: flex;
		flex-flow: column;

		@media (max-width: 991.98px) {
    	margin-bottom: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__top {
		border-bottom: 1px solid rgba(255, 255, 255, 0.1);
		padding-top: 18px;
		padding-bottom: 18px;
	}

	&__bottom {
		border-top: 1px solid rgba(255, 255, 255, 0.1);
		padding-top: 18px;
		padding-bottom: 18px;
	}
}

.footer-nav-wrap-col {


	@media (max-width: 1199.98px) {
    margin-right: 40px;
    margin-left: -40px;
	}

	@media (max-width: 991.98px) {
		margin: 0;
	}

	& > .row {
		& > div {
			margin-right: -40px;

			@media (max-width: 1199.98px) {
				margin-right: 0;
			}

			&:first-child {
				.footer-nav {
					@media (max-width: 575.98px) {
						border-top: 1px solid rgba(255, 255, 255, 0.1);
					}
				}
			}

			&:last-child {
				.footer-nav {

					@media (max-width: 1199.98px) {
    				margin-right: -60px;
					}

					@media (max-width: 991.98px) {
						margin-right: 0;
					}
					@media (max-width: 575.98px) {
						margin-right: -10px;
					}
				}
			}
		}
	}
	

	@media (max-width: 991.98px) {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding-top: 18px;
    margin-top: 18px;
	}

	@media (max-width: 575.98px) {
		border-top: none;
		padding-top: 0;
		margin-top: 22px;
	}
}

.footer-nav {
	color: #fff;

	@media (max-width: 575.98px) {
		border-bottom: 1px solid rgba(255, 255, 255, 0.1);
		margin: 0 -10px;
		padding: 0 10px;
	}

	&__title {
		font-weight: 500;
		font-size: 16px;
		line-height: 18px;
		color: #FFFFFF;
		margin-bottom: 14px;
		pointer-events: none;

		@media (max-width: 575.98px) {
			pointer-events: auto;
			cursor: pointer;
			font-weight: 500;
			font-size: 16px;
			line-height: 18px;
			height: 50px;
			display: flex;
			align-items: center;
			position: relative;
			margin-bottom: 0;

			&:after {
				content: "";
				display: block;
				width: 7px;
				height: 13px;
				background: url("../img/icons/drop-down-arrow-right-white.svg") no-repeat 50% / contain;
				position: absolute;
				top: 50%;
				right: 10px;
				transform: translate(0, -50%) rotate(0deg);
				transition: transform .3s ease;
			}

			&[aria-expanded='true']:after {
				transform: translate(0, -50%) rotate(90deg);
			}
			&:hover {
				text-decoration: none;
				color: #fff;
			}
		}


	}

	.collapse:not(.show) {
		display: block;
		opacity: 1;
		
		@media (max-width: 575.98px) {
			display: none;
			opacity: 0;
		}
	}

	ul {
		list-style: none;

		li {
			position: relative;
			padding-left: 14px;

			&:before {
				content: "";
				display: block;
				width: 4px;
				height: 4px;
				border-radius: 50%;
				position: absolute;
				top: 10px;
				left: 0;
				background-color: rgba(255, 255, 255, 1);
			}

			&:last-child {
				@media (max-width: 575.98px) {
					padding-bottom: 15px;
				}
			}
		}

		a {
			font-size: 14px;
			line-height: 22px;
			color: rgba(255, 255, 255, 0.7);

			&:hover {
				text-decoration: none;
				color: #fff;
			}
		}
	}
}

.youtube {

	@media (max-width: 991.98px) {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	@media (max-width: 700px) {
		flex-flow: column;
		margin-left: 5%;
	}

	@media (max-width: 575.98px) {
		margin: 20px 0;
		flex-flow: row;
	}

	@media (max-width: 460px) {
		justify-content: flex-start;
		flex-shrink: 0;
		margin-right: 20px;
	}

	@media (max-width: 430px) {
		margin-right: 0;
	}

	&:hover {
		text-decoration: none;

		span {
			color: #fff;
		}
	}
	img {
		width: 134px;	
		margin: 0 auto;
		margin-bottom: 10px;

		@media (max-width: 991.98px) {
			margin-bottom: 0;
			margin-right: 20px;
			margin-left: 0;
		}

		@media (max-width: 700px) {
			margin-bottom: 10px;
			margin-right: 0;
		}

		@media (max-width: 575.98px) {
			margin-bottom: 0;
			margin-right: 20px;
		}
	}

	span {
		font-size: 14px;
		line-height: 16px;
		text-align: center;
		display: block;
		color: rgba(255, 255, 255, 0.7);

		@media (max-width: 991.98px) {
			text-align: left;
		}

	}
}

.socials {
	display: flex;
	justify-content: center;
	margin-top: 16px;

	@media (max-width: 991.98px) {
		margin-top: 0;
		justify-content: flex-end;
	}

	@media (max-width: 575.98px) {
		justify-content: center;
		margin: 20px 0;
	}

	@media (max-width: 460px) {
		justify-content: flex-start;

	}

	@media (max-width: 450px) {
		margin-top: 0;

	}



	li {
		&:last-child {

		}
	}
}

.social-link {
	display: block;
	width: 35px;
	height: 35px;
	margin: 10px 5px;
	background: #FFFFFF;
	border-radius: 2px;
	display: flex;
	align-items: center;
	justify-content: center;

	@media (max-width: 991.98px) {
		margin: 0 5px;
	}

	.bf-ico {
		position: relative;
		top: 3px;
		left: 5px;
	}

	&:hover {
		opacity: 0.85;
	}
}

.vk-ico {
	width: 21px;
}
.ig-ico {
	width: 20px;
}
.bf-ico {
	width: 16px;
}

.copyring {
	font-size: 14px;
	line-height: 22px;
	color: rgba(255, 255, 255, 0.5);

	@media (max-width: 991.98px) {
		font-size: 12px;
		line-height: 14px;	
	}
	@media (max-width: 575.98px) {
		display: block;	
	}
}

.politics {
	font-size: 14px;
	line-height: 22px;
	color: #FFFFFF;

	@media (max-width: 991.98px) {
		font-size: 12px;
		line-height: 14px;
	}
	@media (max-width: 575.98px) {
		display: block;	
	}

	a {
		color: #FFFFFF;
	}
}

.login {
	margin-left: -20px;
	display: block;
	min-height: 24px;
	font-weight: 500;
	font-size: 14px;
	line-height: 25px;
	color: #FFFFFF;
	padding-left: 30px;
	background: url("../img/icons/personal.svg") no-repeat 0 50% / 20px;
	
	@media (max-width: 1199.98px) {
		margin-left: -50px;
	}
	&:hover {
		color: #FFFFFF;
	}
}

.footer-col-contacts {

	@media (max-width: 991.98px) {
		display: flex;
		flex-flow: column;
		justify-content: center;
	}
}

.youtube-socials-wrap {
	display: flex;
	flex-flow: column;
	justify-content: center;
	

	@media (max-width: 1199.98px) {
		flex-flow: row;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
		width: 100%;
	}

}

