.product-description {
	padding: 40px 0;

	@media (max-width: 1199.98px) {
  	padding-top: 20px;  
	}

	@media (max-width: 991.98px) {
  	padding-bottom: 0;
	}

	.pl-30 {
		@media (max-width: 1199.98px) {
		  padding-left: 15px;
		}
	}

	&__title {
		font-weight: bold;
		font-size: 28px;
		line-height: 42px;

		color: #0C0F44;
		margin-bottom: 20px;

		@media (max-width: 991.98px) {
			font-size: 20px;
			line-height: 23px;
		}
	}

	&__row {
		display: flex;

	}

	&__col {
		max-width: 280px;
		width: 100%;

		@media (max-width: 1199.98px) {
			max-width: 100%;
		}

		&:first-child {
			padding-right: 20px;
		}
	}

	.availability-info {
		margin-top: 14px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.product-play-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 11px 26px;
	background: #FDEFE7;
	border-radius: 34px;
	font-weight: 500;
	font-size: 15px;
	line-height: 18px;
	min-width: 200px;
	white-space: nowrap;
	// transition: all .3s;

	&:hover {
		text-decoration: none;
		color: #fff;
		background-color: #E96311;

		svg {
			path {
				fill: #fff;
			}
		}
	}

	img, svg {
		width: 19px;
		margin-right: 10px;
		display: block;
	}
}

.product-gallery-nav-slider {
	margin-right: -4px;

	@media (max-width: 991.98px) {
  	display: none;  
	}

	.slide {
		img {
			border-radius: 2px;
			width: 90px;
			height: 65px;
			display: block;
			border: 2px solid #fff;

			@media (max-width: 1199.98px) {
	    	width: 70px;
	    	height: 50.5px;
			}
		}
	}
	.slick-current {
		.img-wrap {
			border: 2px solid #E96311;
		}
	}


	.img-wrap {
		border-radius: 2px;
		width: 90px;
		height: 65px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 50% 50%;

		@media (max-width: 1199.98px) {
    	width: 70px;
    	height: 50.5px;
		}

	}
}

.product-gallery-main-slider {
	width: 100%;
	position: relative;

	@media (max-width: 991.98px) {
  	margin-bottom: 40px;  
	}

	.img-wrap {
		border-radius: 2px;
		width: 100%;
		padding-top: 72.41%;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		position: relative;

	}

	.slick-prev.slick-disabled,
	.slick-next.slick-disabled {
		background: rgba(255, 255, 255, 0.3);
	}

	.slick-prev {
		left: 20px;
		width: 42px;
		height: 42px;
	}

	.slick-next {
		right: 20px;
		width: 42px;
		height: 42px;
	}

	.slick-prev:before,
	.slick-next:before {
		width: 11px;
		height: 20px;
	}

	.product-play-btn {
		position: absolute;
		bottom: 20px;
		left: 50%;
		transform: translate(-50%, 0);	
	}
}

.series-models {

	&__title {
		font-size: 14px;
		line-height: 18px;
		color: #687685;
	}
	
	&__wrap-models {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 10px;
	}
}

.tooltip-btn {
	display: inline-flex;
	font-weight: bold;
	font-size: 15px;
	height: 31px;
	padding: 0 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	border: 1px solid #E2E2EC;
	border-radius: 2px;
	color: #0C0F44;

	&.active {
		color: #fff;
	}
}

.features-model {
	margin-bottom: 20px;

	@media (max-width: 991.98px) {
  	margin-top: 15px;  
	}

	&__title {
		font-size: 16px;
		line-height: 28px;
		color: #0C0F44;
		margin-bottom: 10px;
		font-weight: normal;
	}

	&__desc {
		font-size: 14px;
		line-height: 16px;
		margin-bottom: 10px;

		@media (max-width: 1199.98px) {
    	margin-bottom: 5px
		}
	}

	&__list {
		li {
			position: relative;
			padding-left: 10px;

			&:before {
				content: "";
				width: 4px;
				height: 4px;
				position: absolute;
				top: 6px;
				border-radius: 50%;
				left: 0;
				background: #E96311;
			}
		}
	}

	&__more-link {
		color: #0063A3;
		font-size: 14px;
		line-height: 16px;
		border-bottom: 1px dashed #0063A3;

		&:hover {
			text-decoration: none;
			border-bottom: 1px solid #0063A3;
		}
	}
}

.p-dot {
	position: relative;
	padding-left: 15px;

	&:before {
		content: "";
		width: 4px;
		height: 4px;
		position: absolute;
		top: 6px;
		border-radius: 50%;
		left: 0;
		background: #E96311;
	}
}

.informational-card {
	background: #FFFFFF;
	border: 1px solid #E2E2EC;
	box-sizing: border-box;
	border-radius: 2px;
	padding: 16px 30px;

	@media (max-width: 1199.98px) {
    padding: 12px 20px;
    margin-bottom: 20px;
	}

	.availability-info {
		margin-top: 14px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.print-link  {
		width: 100%;
		justify-content: center;
		margin: -4px 0;
	}

	&__separate {
		margin: 15px 0;
	}
}

.mob-informational-card {
	padding-bottom: 20px;
	border-bottom: 2px solid #F3F3F9;

	.relations {
		margin-bottom: 13px;
	}
}

.print-link {
	display: flex;
	align-items: center;
	font-weight: 500;
	font-size: 14px;
	color: #687685;
	

	.print-ico {
		display: inline-block;
		margin-right: 10px;
	}

	&:hover {
		text-decoration: none;

		.print-ico {
			svg {
				path {
					stroke: #0063A3;
				}
			}
		}
	}
}

.print-ico {
	svg {
		width: 26px;
	}
}

.relations {
	margin-bottom: 13px;

	@media (max-width: 1199.98px) {
		margin-bottom: 0;
	}

	&__title {
		font-size: 14px;
		line-height: 18px;
		color: #687685;
		text-align: center;

	}

	.tel {
		display: block;
		text-align: center;
	}
}

.informational-links {
	margin: 30px 0;

	@media (max-width: 1199.98px) {
  	margin: 20px 0;  
	}

	@media (max-width: 991.98px) {
		margin-bottom: 0;
	}

	li {
		padding: 0 20px;
		margin-bottom: 7px;

		@media (max-width: 991.98px) {
  		padding: 0; 
		}
	}

	a {
		color: #0063A3;
		font-size: 16px;
		line-height: 16px;

	}
}

.file-link {
	width: 100%;
	background: #FFFFFF;
	border: 1px solid #E2E2EC;
	box-sizing: border-box;
	border-radius: 2px;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 48px;
	font-weight: 500;
	font-size: 14px;
	line-height: 134.77%;
	color: #E96311;

	&__ico {
		margin-right: 10px;
		display: block;
	}

	.pdf-ico {
		width: 25px;
	}

	&:hover {
		color: #0063A3;
		text-decoration: none;

		.file-link__ico {
			svg {
				path {
					stroke: #0063A3;
				}
			}
		}
	}
}

.page-data {

	&__head {
		border-top: 2px solid #F3F3F9;
		border-bottom: 2px solid #F3F3F9;

		@media (max-width: 991.98px) {
    	border: none;
		}
	}

	&__nav-tabs {

		@media (max-width: 991.98px) {
    	display: flex;
    	flex-flow: column;
    	margin: 0 -15px;
		}

		.nav-item {
			height: 68px;
			display: flex;
			align-items: center;

			@media (max-width: 991.98px) {
				height: 50px;
				border-top: 2px solid #F3F3F9;
				padding: 0 15px;
				margin: 0;
			}

			&:last-child {

				@media (max-width: 991.98px) {
					border-bottom: 2px solid #F3F3F9;
				}
			}
		}

		.nav-link {

			@media (max-width: 991.98px) {
				width: 100%;
				justify-content: flex-start;
				color: #0C0F44;
				font-weight: 500;
			}

			&:after {

				@media (max-width: 991.98px) {
					content: "";
					display: block;
					width: 7px;
					height: 13px;
					background: url("../img/icons/drop-down-arrow-right.svg") no-repeat 50% / contain;
					position: absolute;
					top: 50%;
					right: 10px;
					left: auto;
					transform: translate(0, -50%);
		
				}
			}

			&:hover {

				@media (max-width: 991.98px) {
					color: #0063A3 !important;

					&:after {
						background: url("../img/icons/drop-down-arrow-right-hover.svg") no-repeat 50% / contain;
					}
				}
			}
		}
	}

	&__mob-content {

		@media (max-width: 991.98px) {
			position: fixed;
			top: 60px;
			left: 0%;
			width: 100%;
			background-color: #fff;
			height: calc(100% - 60px);
			overflow: auto;
			transform: translate(-100%, 0);
			transition: transform .3s;

			&.show {
				transform: translate(0, 0);
			}
		}
	
	}

	&__mob-content-main {

		@media (max-width: 991.98px) {
			overflow: auto;
			height: calc(100% - 50px - 78px);
		}

		.container {

			@media (max-width: 991.98px) {
				max-width: 100%;
			}
		}
	}

	&__mob-content-footer {
		padding: 15px;
		background: rgba(243, 243, 249, 0.9);
		box-shadow: 0px 4px 30px rgba(12, 15, 68, 0.15);
		position: relative;
		z-index: 5;
	}

	&__tab-content {
		padding-top: 40px;	
		padding-right: 20px;

		@media (max-width: 1199.98px) {
    	padding-right: 0;
		}

		@media (max-width: 991.98px) {
    	padding-top: 20px;
		}
	}

	&__singly {
		margin-bottom: 24px;

		@media (max-width: 575.98px) {
			margin-bottom: 15px;
		}

		.p-dot {
			margin-bottom: 10px;

			@media (max-width: 991.98px) {
				margin-bottom: 15px;
			}
		}
	}

	&__h4 {
		font-weight: 500;
		font-size: 18px;
		line-height: 26px;
		margin-bottom: 17px;

		@media (max-width: 991.98px) {
    	font-size: 16px;
			line-height: 19px;
		}
	}

	&__p {
		font-size: 16px;
		line-height: 22px;
		margin-bottom: 20px;

		@media (max-width: 991.98px) {
			font-size: 14px;
			line-height: 20px;
		}
	}

	.p-dot {
		font-size: 16px;
		line-height: 22px;

		@media (max-width: 991.98px) {
			font-size: 14px;
			line-height: 20px;
		}

		&:before {
			top: 8px;
		}
	}

	&__card-wrap {
		display: flex;
		flex-wrap: wrap;

		@media (max-width: 575.98px) {
			margin: 0 -5px;
		}
	}

	&__separate {
		margin: 35px 0;

		@media (max-width: 767.98px) {
			margin: 10px 0;
		}
	}
}


.schematic-card {
	width: 156px;
	margin-bottom: 10px;
	margin-right: 10px;

	@media (max-width: 575.98px) {
		width: 145px;
		margin-right: 0;
		margin: 5px;	
	}

	@media (max-width: 440px) {
		width: calc(50% - 10px);
	}
	img {
		width: 100%;
		margin-bottom: 10px;
		border-radius: 2px;
	}
	p {
		font-size: 14px;
		line-height: 16px;
		text-align: center;

		color: #687685;
		padding: 0 5px;

	}
}

.design-benefits {
	position: relative;

	&__btn {
		position: absolute;
	}

	&__img {
		width: 100%;
		margin-bottom: 10px;
	}

	&__desc {
		font-size: 14px;
		line-height: 18px;
		color: #0C0F44;
		padding: 0 10px;
		padding-right: 20px;

	}
}

.popover-btn {
	display: flex;
	padding: 0;
	width: 34px;
	height: 34px;
	background: #0063A3;
	border-radius: 50%;

	.popover-btn__ico {
		width: 13px;
	}

	&:hover {
		background: #E96311;

		.popover-btn__ico {
			transform: rotate(45deg);
		}
	}

}

.design-1 {
	.design-benefits__btn {
		&:nth-of-type(1) {
			top: 210px;
			left: 70px;
		}

		&:nth-of-type(2) {
			top: 25px;
			left: 317px;
		}

		&:nth-of-type(3) {
			top: 100px;
			right: 105px;
		}
	}
}

.slider-in-img {
	position: relative;

	.slider-behind-img {
		.img-wrap {
			height: 430px;
			width: 100%;
			background-size: cover;
			background-position: 50% 50%;
			background-repeat: no-repeat;
		}
	}

	&__front-desc {
		position: absolute;
		top: 40px;
		right: 40px;
		height: calc(100% - 80px);
		width: 280px;
		background-color: #fff;
		padding: 30px 20px;

	}

	&__nav {
		position: absolute;
		bottom: 20px;
		left: 20px;
		display: flex;
		align-items: center;

		.slick-prev,
		.slick-next {
			position: relative;
			left: auto;
			right: auto;
			top: auto;
			transform: translate(0);
		}

	}

	&__slide-of {
		display: block;
		margin: 0 10px;
		font-weight: 500;
		font-size: 16px;
		line-height: 19px;
	}
}

.slider-front-desc {

}

.operation {
	&__title {
		font-weight: 500;
		font-size: 18px;
		line-height: 28px;
		margin-bottom: 4px;
	}

	&__desc {
		font-size: 14px !important;
		line-height: 18px !important;
		color: #0C0F44;
	}
}

.product-accordion {

	.card {
		box-shadow: none;
		width: 100%;
		padding: 0;
		border-bottom: 1px solid #EBEBF2 !important;

		&:first-child {
			@media (max-width: 991.98px) {
    		border-top: 1px solid #EBEBF2 !important;
			}
		}

		&:hover {
			.card-header h2 > .btn {
				color: #E96311;

				&:before {
					background-image: url('../img/icons/drop-down-arrow-orange.svg');
				}
			}
		}

		.card-header {
			padding: 0;
			margin-bottom: 0;
			border: none;
		}

		&-header {
			h2 > .btn {
				text-decoration: none;
				justify-content: flex-start;
				padding: 0;
				width: 100%;
				height: auto;
				font-weight: 500;
				font-size: 18px;
				line-height: 26px;
				color: #0C0F44;
				position: relative;
				padding: 24px 0;
				padding-right: 40px;
				text-align: left;

				@media (max-width: 991.98px) {
					font-size: 16px;
					padding: 20px 0;
					padding-right: 30px;
				}

				&:hover {
					text-decoration: none;
				}

				&::before {
					content: '';
					position: absolute;
					top: 50%;
					right: 0;
					transform: translateY(-50%);
					width: 13px;
					height: 8px;
					background-image: url('../img/icons/drop-down-arrow.svg');
					background-repeat: no-repeat;
					background-position: center center;
					background-size: contain;
					border: 0;
				}

				&[aria-expanded='true'] {
					&::before {
						transform: translateY(-50%) rotate(-180deg);
					}
				}
			}
		}

		&-header {
			background: #fff;
		}

		&-body {
			background: #fff;
			padding: 0;

			p {
				margin-bottom: 20px;
			}

			img  {
				margin-bottom: 20px;
				max-width: 100%;
			}
		}
	}
}

.product-attention {
	margin-top: 40px;
	margin-bottom: 20px;

	&__title {
		font-weight: bold;
		font-size: 14px;
		line-height: 22px;
		color: #E96311;
		margin-bottom: 0;
	}

	&__desc {
		font-size: 14px;
		line-height: 22px;
		color: #687685;
	}
}

.video-card {

	&.widget {
		padding: 30px;
	}

	&__title {
		font-weight: 500;
		font-size: 18px;
		line-height: 28px;
	}

	&__desc {
		font-size: 14px;
		line-height: 16px;
		margin-bottom: 16px;
	}

	.video-wrap {
		height: 132px;
	}

	.play {

		width: 64px;
		height: 64px;

		&:after {
			width: 70%;
			height: 70%;
		}

		img {
			width: 16px;
			margin-left: 3px;
		}
	}
}

.wiget.border {
	border: 1px solid #E2E2EC;
}


.data-list {
	width: 100%;

	thead {
		tr {
			background: #F3F3F9;

			th {
				padding: 15px 20px;
				font-size: 16px;
				line-height: 26px;
				color: #687685;
				font-weight: 400;

				@media (max-width: 575.98px) {
					font-size: 14px;
					line-height: 22px;
					padding: 8px 10px;
				}

				&:nth-child(1) {
					width: 42%;

					@media (max-width: 575.98px) {
						width: 50%;
					}
				}

				&:nth-child(2) {
					width: 58%;

					@media (max-width: 575.98px) {
						width: 50%;
					}
				}
			}
		}
	}

	tbody {
		tr {
			&:nth-child(2n) {
				background: #F3F3F9;
			}
		}

		td {
			height: 55px;
			padding: 15px 20px;
			vertical-align: top;

			@media (max-width: 575.98px) {
				font-size: 14px;
				line-height: 20px;
				padding: 8px 10px;
			}

			p {
				margin: 5px 0;
				font-size: 16px;
				line-height: 22px;

				@media (max-width: 575.98px) {
					font-size: 14px;
					line-height: 20px;
				}
			}

			.p-dot {
				font-size: 16px;
				line-height: 22px;

				@media (max-width: 575.98px) {
					font-size: 14px;
					line-height: 20px;
				}
			}

			.fake-p {
				opacity: 0;
			}

			.pr-30 {
				padding-right: 30px;
			}
		}
	}
}



.doc-download {
	li {

		&:nth-child(2n-1) {
			background: #F3F3F9;
			border-radius: 2px;
		}

		a {
			display: flex;
			align-items: center;
			justify-content: space-between;
			position: relative;
			padding: 20px 20px 17px 60px;

			&:hover {
				text-decoration: none;

				svg {
					stroke: #0063A3;
				}
				span {
					color: #0063A3;
					
					&:last-child {
						color: #0063A3;
					}
				}
			}
			& > svg {
				position: absolute;
				top: 50%;
				left: 20px;
				transform: translateY(-50%);
				width: 19px;
				height: 23px;
				stroke: #0C0F44;
			}
			& > span {
				font-weight: normal;
				font-size: 14px;
				line-height: 16px;
				color: #0C0F44;
				padding-right: 15px;

				&:last-child {
					color: #687685;
					padding-right: 0;
					white-space: nowrap;
				}
			}
		}
	}
}

.card-product-lite {
	background: #FFFFFF;
	border: 1px solid #EBEBF2;
	box-sizing: border-box;
	border-radius: 2px;
	display: flex;
	padding: 20px;
	margin-bottom: 20px;

	&__img {
		width: 100%;
		max-width: 127px;
	}

	&__content {
		padding-left: 20px;
	}

	&__title {
		font-weight: 500;
		font-size: 16px;
		line-height: 18px;
		text-transform: uppercase;
		margin-bottom: 5px;
	}

	&__sub-title {
		font-weight: 500;
		font-size: 11px;
		line-height: 18px;
		text-transform: uppercase;
		color: #687685;
		margin-bottom: 7px;
	}

	&__desc {
		font-size: 13px;
		line-height: 18px;
	}
}



.modal-send-reques {
	
	.modal-content {
		padding-bottom: 10px;
	}

	.carrying-form {

		.btn {
			width: 100%;
			margin-top: 20px;
			font-size: 15px;
			height: 50px;
		}
	}
}

.processing-data {
	text-align: center;
	font-size: 13px;
	line-height: 15px;
	padding: 20px;

	a {
		color: #0063A3;
	}
}

.modal-successfully {
	.modal-title {
		text-align: center;
	}

	.modal-desc {
		text-align: center;
	}

	.state-ico {
		width: 45px;
		margin: 20px auto;
	}

	.modal-body {
		padding-top: 10px;
		padding-bottom: 32px;
	}
}

.modal-video {
	.modal-dialog {
		max-width: 940px;
		
	}
	.modal-content {
		padding-bottom: 40px;

		@media (max-width: 575.98px) {
     padding-bottom: 20px;
  	}
	}
	.video-wrap {
		height: 100%;
		padding-top: 57%;

		.video {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
		}
	}
}

.model-change {
	padding-top: 10px;

	&__cover {
		display: flex;
		justify-content: space-between;
	}

	&__title {
		font-size: 14px;
		line-height: 18px;
		color: #687685;
	}

	&__desc {
		font-weight: bold;
		font-size: 15px;
		line-height: 134.77%;
	}

	&__link {
		font-size: 14px;
		line-height: 16px;
		color: #0063A3;
		padding-right: 18px;
		position: relative;
		margin-right: 10px;
		outline: none;
		
		span {
			border-bottom: 1px dotted #0063A3;
		}
		&:hover {
			text-decoration: none;

			span {
				border-bottom: 1px solid #0063A3;
			}
		}

		&:after {
			content: "";
			display: block;
			width: 7px;
			height: 13px;
			background: url("../img/icons/drop-down-arrow-right-hover.svg") no-repeat 50% / contain;
			position: absolute;
			top: 3px;
			right: 0;
		}
	}
}

.model-slider {

	.slick-list {
		padding-left: 0 !important;
	}

	.slide {
		padding-right: 20px;
	}
}

.for-mob-model-menu.show {
	@media (min-width: 576px) {
    display: none;
	}
}

.mob-model-menu {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: #fff;
	transform: translate(0, 100%);
	z-index: 30;
	padding: 10px;
	padding-top: 20px;
	transition: transform .3s;
	max-height: calc(100% - 120px);

	&.show {
		transform: translate(0);

		.mob-model-menu__close {
			display: block;
		}
	}

	&__close {
		position: absolute;
		top: -40px;
		left: 50%;
		transform: translate(-50%, 0);
		display: none;

		img {
			width: 19px;
		}
	}
	

	&__title {
		font-weight: 500;
		font-size: 16px;
		line-height: 18px;
		margin-bottom: 20px;
	}

	.model-card {
		@media (max-width: 575.98px) {
			margin-bottom: 10px;
		}
	}

}

.model-list {
	max-height: 300px;
	overflow: auto;

}

.model-card {
	display: flex;
	padding: 10px;
	background: #FFFFFF;
	border: 1px solid #E2E2EC;
	box-sizing: border-box;
	border-radius: 2px;
	// min-width: 300px;
	width: 100%;


	&:hover {
		text-decoration: none;
		border: 1px solid #E96311;
	}

	&.active {
		border: 2px solid #E96311;
	}


	&__img-wrap {
		width: 60px;
		height: 60px;
		border-radius: 2px;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 50% 50%;
		flex-shrink: 0;
	}

	&__content {
		padding-left: 14px;
	}

	&__title {
		font-weight: 500;
		font-size: 15px;
		line-height: 18px;
	}

	&__desc {
		font-size: 14px;
		line-height: 16px;

		color: #687685;
	}
}