$browser-context: 16; // Default

@function rem($pixels, $context: $browser-context) {
  @return #{$pixels/$context}rem;
}

@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}

@function lh($lh, $fs) {
  @return #{$lh/$fs};
}


@import "_common.scss";
@import "_header.scss";
@import "_main.scss";
@import "_contacts.scss";
@import "_documentation.scss";
@import "_article.scss";
@import "_equipment.scss";
@import "_product-description.scss";
@import "_about.scss";
@import "_footer.scss";
@import "_page-404.scss";